{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title> Track Bikes</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style>
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0,color: white; }
      #map_canvas{
        position: absolute;
        top: 10%;
        bottom: 0;
        width: 40%;
        height: 79%;
        right:2%;
        border: 1px solid white;
        z-index:1;
      }
      .bikeButton{
        background: gray;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;border-radius:5px;
      }
       .table-design > tbody > tr > td{
         text-align: left; /* Left-align text */
         padding: 6px;
         font-weight:none; !important
         text-shadow:none; !important
          font-size:15px;
          color:black;
       }
      .table-design > tbody > tr > td:hover {
        background-color: #3dcacd;
        color:#3d3a3a;
      }
      .table-design2 > tbody > tr > td{
        text-align: left; /* Left-align text */
        padding: 6px;
        font-weight:none; !important
        text-shadow:none; !important
         font-size:15px;
         color:white;
         border:none; !important
      }
      .hidden{
        display:none;
      }
      .contain{
        border-radius:3px;
        border:1px solid #3dcacd;
        float:left; background-color: #3d3a3a;
        position:absolute;
        right:89%;
        top:10%;
        left:2%;
        height: 79%;
        padding:5px;
        overflow: scroll;
        z-index:4;
      }
      ::-webkit-scrollbar {
        display: none;
      }
      #search {
        position:absolute;
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat;
         /* Do not repeat the icon image */
        width:27%;
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        border-radius:5px;
        color:black;
        right:14%;
        top:11%;
        z-index:12;
      }
      #reservationSearch {
        position:fixed;
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat;
         /* Do not repeat the icon image */
        width:27%;
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        border-radius:5px;
        color:black;
      }
      #reservations{
        background-color:#3d3a3a;
        border-radius:12px;
        position: absolute;
        top: 10%;
        bottom: 0;
        width: 45%;
        height: 79%;
        left:12%;
        overflow: scroll;
        z-index:1;
      }
      #bikeoptions{
        position:absolute;
        background-color:#3d3a3a;
        top: 90%;
        width: 96%;
        height: 9%;
        right:2%;
        left:2%;
        border-radius:20px;
        padding:5px;
        display:flex;
      }
      .btn{
        margin:6px;font-size:18px;
      }
     </style>
{% endblock %}
{% block body %}
<div>
      <div class="container">
            <input type="text" id="search" onkeyup="searchFun()" placeholder="Search for bikes based on...">
          <div id="map_canvas">
          </div>
          <div class="contain">
            <table id="BikeTable" class="table table-design table-dark">
              <!-- <theader>
                  <tr class="header">
                    <th style="width:17%;">Bike</th>
                    <th style="width:70%;">Station</th>
                    <th style="width:40%;">Status</th>
                  </tr> if bike==outofservice then highlight to red
                  if bike==active then highlinh to green
              </theader> -->
                  <tbody style="height: 10px !important;">
                  {% for bike in allbikes %}
                    <tr {% if bike.bike_status.bike_status_name == "Outofservice" %}
                          style='background-color: #B22222;color:white;'
                        {% elif bike.bike_status.bike_status_name == "active" %}
                          style='background-color: green;color:white;'
                        {% else %}
                          style='background-color: #3d3a3a;color:#3dcacd;'
                        {% endif %}>
                        <td class='hidden'>{{ bike.bike_type.bike_type }}</td>
                        <td><button class='bikeButton' name='{{ bike.bike_id }}'>{{ bike.bike_id }}
                          <img style="width:60px;height:60px;-webkit-filter: drop-shadow(1px 1px 0 black)
                                      drop-shadow(-1px -1px 0 darkgrey);
                                      filter: drop-shadow(1px 1px 0 darkgrey)
                                      drop-shadow(-1px -1px 0 darkgrey);" src="{% static 'bikes/'|add:bike.bike_type.bike_image %}">
                                      </button>
                        </td>
                        <td class='hidden'>{{ bike.bike_stationedat.name }}</td>
                        <td class='hidden'>{{ bike.bike_status.bike_status_name }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div id='bikeoptions'>
            <button style='color:black;' class="btn btn-success form-control">Transfer Bike <span class='bikeid'></span></button>
            <button style='color:black;' class="btn btn-success form-control">Replace Bike <span class='bikeid'></span></button>
            <button class="btn btn-danger form-control">Block Bike <span class='bikeid'></span></button>
            <button class="btn btn-danger form-control">Unblock Bike <span class='bikeid'></span></button>
        </div>
        <div id='reservations'>
          <table id="ReservationsTable" class="table table-design2 table-dark">
            <input type="text" id="reservationSearch" onkeyup="reservationSearchFun()" placeholder="Search for reservations based on...">
            <tbody style="height: 10px !important;">
            </tbody>
          </table>
        </div>
    </div>
   <!--- need to load the geometry library for calculating distances, see http://www.svennerberg.com/2011/04/calculating-distances-and-areas-in-google-maps-api-3/ --->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_ItPKqeOzT7ZXw3pQOAIiHRWXo63Q7Qg&libraries=geometry&sensor=false">
    </script>
    <script type="text/javascript">
      document.getElementById('bikeoptions').style.visibility='hidden';
//--------------------------------------------------------------------------------------------------------
      function searchFun() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("BikeTable");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          td2 = tr[i].getElementsByTagName("td")[0];
          td3 = tr[i].getElementsByTagName("td")[2];
          td4 = tr[i].getElementsByTagName("td")[3];
          if (td||td2||td3||td4) {
            txtValue = td.textContent || td.innerText;
            txtValue2 = td2.textContent || td2.innerText;
            txtValue3 = td3.textContent || td3.innerText;
            txtValue4 = td4.textContent || td4.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue4.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1 || txtValue3.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
  //---------------------------------------------------------------------------------------------------------
  function reservationSearchFun() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("reservationSearch");
    filter = input.value.toUpperCase();
    table = document.getElementById("ReservationsTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      td2 = tr[i].getElementsByTagName("td")[1];
      td3 = tr[i].getElementsByTagName("td")[2];
      td4 = tr[i].getElementsByTagName("td")[3];
      td5 = tr[i].getElementsByTagName("td")[4];
      td6 = tr[i].getElementsByTagName("td")[5];
      td7 = tr[i].getElementsByTagName("td")[6];
      td8 = tr[i].getElementsByTagName("td")[7];
      td9 = tr[i].getElementsByTagName("td")[8];
      td10 = tr[i].getElementsByTagName("td")[9];
      if (td||td2||td3||td4||td5||td6||td7||td8||td9||td10) {
        txtValue = td.textContent || td.innerText;
        txtValue2 = td2.textContent || td2.innerText;
        txtValue3 = td3.textContent || td3.innerText;
        txtValue4 = td4.textContent || td4.innerText;
        txtValue5 = td5.textContent || td5.innerText;
        txtValue6 = td6.textContent || td6.innerText;
        txtValue7 = td7.textContent || td7.innerText;
        txtValue8 = td8.textContent || td8.innerText;
        txtValue9 = td9.textContent || td9.innerText;
        txtValue10 = td10.textContent || td10.innerText;
        if (txtValue10.toUpperCase().indexOf(filter) > -1||txtValue.toUpperCase().indexOf(filter) > -1||txtValue9.toUpperCase().indexOf(filter) > -1 || txtValue3.toUpperCase().indexOf(filter) > -1 ||txtValue4.toUpperCase().indexOf(filter) > -1||txtValue5.toUpperCase().indexOf(filter) > -1 || txtValue6.toUpperCase().indexOf(filter) > -1 || txtValue7.toUpperCase().indexOf(filter) > -1 || txtValue8.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------
  $(function() {


  // This function gets cookie with a given name
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  /*
  The functions below will create a header with csrftoken
  */

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  function sameOrigin(url) {
      // test that a given url is a same-origin URL
      // url could be relative or scheme relative or absolute
      var host = document.location.host; // host + port
      var protocol = document.location.protocol;
      var sr_origin = '//' + host;
      var origin = protocol + sr_origin;
      // Allow absolute or scheme relative URLs to same origin
      return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
          (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
          // or any other URL that isn't scheme relative or absolute i.e relative.
          !(/^(\/\/|http:|https:).*/.test(url));
  }

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
              // Send the token to same-origin, relative URLs only.
              // Send the token only if the method warrants CSRF protection
              // Using the CSRFToken value acquired earlier
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

});
  //---------------------------------------------------------------------------------------------------------
      var bikeid;
      $('.bikeButton').click(function(){
        bikeid=this.name;
        event.preventDefault();
        $.ajax({
          url : "/operator/bikes/", // the endpoint
          type : "POST", // http method
          data : { formtype: 'bikeselected', bikeid:bikeid}, // data sent with the post fo
          // handle a successful response
          success : function(json) {
            //IF ELSE LOOP IF NO TIME THEN DISPLAY ERROR AND CLICK CANCEL BUTTON
            //IF THERE ARE NO TIMES AVAILABLE THEN :
            //alert('Sorry, there are no other times you can change, other reservations occupied')
            //document.getElementById('pleaseclose').click();
            document.getElementById('bikeoptions').style.visibility='visible';
            $('.bikeid').text(json[0]);
              if(json[1]!=null){
                $('#ReservationsTable').find('tbody').empty();
                for (var i = 1; i < Object.keys(json).length; i++) {
                  str='';
                  for (var x = 0; x < Object.keys(json[i]['bikes_on_reservation']).length; x++) {
                    var url_mask = "{% static 'bikes/12345' %}".replace(/12345/, json[i]['bikes_on_reservation'][x]['bike_image']);
                      str+='<img style="width:50px;height:50px;-webkit-filter: drop-shadow(1px 1px 0 black)drop-shadow(-1px -1px 0 white);filter: drop-shadow(1px 1px 0 white)drop-shadow(-1px -1px 0 black);" src="'+url_mask+'">'+json[i]['bikes_on_reservation'][x]['bike_id'];
                    }
                  $('#ReservationsTable').find('tbody').append('<tr><td style="text-shadow:none;color:#3d3a3a;;display: block;height:50px;">sdfsd</td><td class="hidden">'+json[i]['res_type'].toUpperCase()+'</td><td style="display: block;background-color:gray;color:black;"><h4>'+json[i]['res_type'].toUpperCase()+' Reservation: '+json[i]['res_code']+
                      '</h4>Reserved on: '+json[i]['res_date']+'&nbsp; &nbsp; &nbsp; &nbsp;  Paid: '+json[i]['res_cost']+'</td>'
                      +'<td style="display: block;width:100%;font-size:15px;background-color:green;border-radius:2px;">Start:'
                      +json[i]['startname']+'&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Start time:'+json[i]['starttime']+'</td><td style="display: block;width:100%;font-size:15px;background-color:#B22222;">End: '+json[i]['endname']+'&nbsp; &nbsp; &nbsp; &nbsp; End time:'+
                        json[i]['endtime']+'</td><td style="display: block;"colspan="2">'+str+'</td>'
                        +'<td style="color:white;display: block;">'+'  USER ID:'+json[i]['c_id']+'&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; RATING:'+json[i]['c_rating']+'&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; FINE COST:  '+json[i]['fine_cost']+
                      '</td><td style="display: block;color:white;">FEEDBACK: '+json[i]['feedback']+'</td>'+
                      '<td style="display: block;color:white;">FINE DESCRIPTION: '+json[i]['fine_desc']+'</td>'
                      +'<td  style="display: block;width:100%;"><button type="button" name="'
                      +json[i]['res_code']+'" class="btn btn-danger">Cancel Reservation</button>'+
                        '<button type="button" style="width:50%;" class="btn btn-danger myBtnFeedback">PAY YOUR FINE!</button></td></tr>');
                }
              }
          },
          // handle a non-successful response
          error : function(xhr,errmsg,err) {
                  }
        });
      });
//--------------------------------------------------------------------------------------------------
        function initMap() {
            var startLatlng = new google.maps.LatLng(55.966530000000000,-3.2143800000000000);
            var endLatLng = new google.maps.LatLng(55.939940000000000,-3.1918600000000000);

            var map = new google.maps.Map(document.getElementById("map_canvas"),{
                      center: {lat:55.94136542,lng:-3.18470478},
                      zoom: 12,
                      zoomControl: false,
                      streetViewControl:false,
                      styles:
                      [
                    {
                      "featureType": 'poi',
                      "stylers": [{"visibility": 'off'}]
                    },
                        {
                            "featureType": "all",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "hue": "#ff0000"
                                },
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": -30
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#353535"
                                }
                            ]
                        },
                      ]
                    });

            var startMarker = new google.maps.Marker({
                position: startLatlng,
                map: map
            });

            var endMarker = new google.maps.Marker({
                position: endLatLng,
                map: map
            });

            // draw a line between the points
            var line = new google.maps.Polyline({
                path: [startLatlng, endLatLng],
                strokeColor: "##FF0000",
                strokeOpacity: 0.5,
                strokeWeight: 4,
                geodesic: true,
                map: map
            });

            // what's the distance between these two markers?
            var distance = google.maps.geometry.spherical.computeDistanceBetween(
                startLatlng,
                endLatLng
            );

            // 200 miles in meters
            var markerDistance = 500;

            var drawMarkers = true;

            var newLatLng = startLatlng;

            // stop as soon as we've gone beyond the end point
            while (drawMarkers == true) {
                // what's the 'heading' between them?
                var heading = google.maps.geometry.spherical.computeHeading(
                    newLatLng,
                    endLatLng
                );

                // get the latlng X miles from the starting point along this heading
                 var newLatLng = google.maps.geometry.spherical.computeOffset(
                    newLatLng,
                    markerDistance,
                    heading
                );

                // draw a marker
                var newMarker = new google.maps.Marker({
                    position: newLatLng,
                    map: map
                });

                // calculate the distance between our new marker and the end marker
                var newDistance = google.maps.geometry.spherical.computeDistanceBetween(
                    newLatLng,
                    endLatLng
                );

                if (newDistance <= markerDistance) {
                    drawMarkers = false;
                }
            }
        }

        google.maps.event.addDomListener(window, 'load', initMap);



    </script>
{% endblock %}
