{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title> Track Bikes</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style>
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0,color: white; }
      #map_canvas{
        position: absolute;
        top: 10%;
        bottom: 0;
        width: 40%;
        height: 79%;
        right:2%;
        border: 1px solid white;
        z-index:1;
      }
      .bikeButton{
        background: gray;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;border-radius:5px;
      }
       .table-design > tbody > tr > td{
         text-align: left; /* Left-align text */
         padding: 6px;
         font-weight:none; !important
         text-shadow:none; !important
          font-size:15px;
          color:black;
       }
      .table-design > tbody > tr > td:hover {
        background-color: #3dcacd;
        color:#3d3a3a;
      }
      .table-design2 > tbody > tr > td{
        text-align: left; /* Left-align text */
        padding: 6px;
        font-weight:none; !important
        text-shadow:none; !important
         font-size:15px;
         color:white;
         border:none; !important
      }
      .hidden{
        display:none;
      }
      .contain{
        border-radius:3px;
        border:1px solid #3dcacd;
        float:left; background-color: #3d3a3a;
        position:absolute;
        right:89%;
        top:10%;
        left:2%;
        height: 79%;
        padding:5px;
        overflow: scroll;
        z-index:4;
      }
      ::-webkit-scrollbar {
        display: none;
      }
      #search {
        position:absolute;
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat;
         /* Do not repeat the icon image */
        width:27%;
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        border-radius:5px;
        color:black;
        right:15%;
        top:11%;
        z-index:12;
      }
      #reservationSearch {
        position:fixed;
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat;
         /* Do not repeat the icon image */
        width:27%;
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        border-radius:5px;
        color:black;
        z-index:5;
      }
      #reservations{
        background-color:#3d3a3a;
        border-radius:12px;
        position: absolute;
        top: 10%;
        bottom: 0;
        width: 45%;
        height: 79%;
        left:12%;
        overflow: scroll;
        z-index:1;
      }
      .questionmark{
        position:absolute;
        left:54%;
        z-index:4;
        color:black;
      }
      #bikeoptions{
        position:absolute;
        background-color:#3d3a3a;
        top: 90%;
        width: 96%;
        height: 9%;
        right:2%;
        left:2%;
        border-radius:20px;
        padding:5px;
        display:flex;
      }
      .btn{
        margin:6px;font-size:18px;
      }
      .viewreservations{
        position:absolute;
        left:40%;
        z-index:4;
        color:black;
      }
      .viewbikes{
        position:absolute;
        left:3%;
        top:5%;
        z-index:4;
        color:black;
      }
      .reservationBikeImage{
        width:50px;
        height:50px;
        -webkit-filter: drop-shadow(1px 1px 0 black)drop-shadow(-1px -1px 0 white);
        filter: drop-shadow(1px 1px 0 white)drop-shadow(-1px -1px 0 black);
        z-index:1;
      }
      .modal-header{
        background-color:#3dcacd;
      }
      .modal-content{
        background-color:#3d3a3a;
        color:white;
        font-size:20px;
      }
     </style>
{% endblock %}
{% block body %}
<div>
      <div class="container">
          <button id='addmarker'></button>
            <button class="btn btn-success viewbikes">&#8635;</button>
            <button class="btn btn-success viewreservations">View all reservations</button>
            <button class="btn btn-light questionmark">?</button>
            <input type="text" id="search" onkeyup="searchFun()" placeholder="Search for bikes based on...">
          <div id="map_canvas">
          </div>
          <div class="contain">
            <table id="BikeTable" class="table table-design table-dark">
              <!-- <theader>
                  <tr class="header">
                    <th style="width:17%;">Bike</th>
                    <th style="width:70%;">Station</th>
                    <th style="width:40%;">Status</th>
                  </tr> if bike==outofservice then highlight to red
                  if bike==active then highlinh to green
              </theader> -->
                  <tbody style="height: 10px !important;">
                  {% for bike in allbikes %}
                    <tr {% if bike.bike_status.bike_status_name == "Outofservice" %}
                          style='background-color: #B22222;color:white;'
                        {% elif bike.bike_status.bike_status_name == "active" %}
                          style='background-color: green;color:white;'
                        {% else %}
                          style='background-color: #3d3a3a;color:#3dcacd;'
                        {% endif %}>
                        <td class='hidden'>{{ bike.bike_type.bike_type }}</td>
                        <td><button class='bikeButton' name='{{ bike.bike_id }}'>.{{ bike.bike_id }}.
                          <img style="width:60px;height:60px;-webkit-filter: drop-shadow(1px 1px 0 black)
                                      drop-shadow(-1px -1px 0 darkgrey);
                                      filter: drop-shadow(1px 1px 0 darkgrey)
                                      drop-shadow(-1px -1px 0 darkgrey);" src="{% static 'bikes/'|add:bike.bike_type.bike_image %}">
                                      </button>
                        </td>
                        <td class='hidden'>{{ bike.bike_stationedat.name }}</td>
                        <td class='hidden'>{{ bike.bike_status.bike_status_name }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div id='bikeoptions'>
            <button style='color:black;' type="button" class="btn btn-success form-control" data-toggle="modal" data-target="#myModal">TRANSFER <span class='bikeid'></span></button>
<!-- Modal -->
            <div class="modal fade firstModal" id="myModal" >
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Transfer</h4>
                  </div>
                  <div class="modal-body">
                    <p >Transfer bike <span class='bikeid'>document.getElementsByClassName("bikeid")[0].innerText;</span>&nbsp;from enter the time below:</p>
                    <select id='station' style='color:black;'>
                       <option selected="true" value="" disabled="disabled">Select station to transfer to</option>
                       <option value="0">Storage</option>
                      {% for stat in station %}
                      <option value="{{ stat.station_id }}">{{ stat.name }}</option>
                      {% endfor %}
                    </select>
                    <input style='border-radius:5px;color:black' type='submit' onclick='transferModal()'/>
                  </div>

                </div>

              </div>
            </div>
            <button style='color:black;' type="button" class="btn btn-success form-control" data-toggle="modal" data-target="#myModal2">REPLACE <span class='bikeid'></span></button>
<!-- Modal -->
          <div class="modal fade secondModal" id="myModal2" >
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Replace</h4>
                </div>
                <div class="modal-body">
                  <p >Replace bike <span class='bikeid'>document.getElementsByClassName("bikeid")[0].innerText;</span></p>
                  Would you like to confirm replacement of this bike?<br><br>
                  <input style='border-radius:5px;color:black' type='submit' value='Confirm' onclick='replaceModal()'/>
                </div>
              </div>
            </div>
          </div>
            <!-- <button class="btn btn-danger form-control" onclick='blockBikeModal()'> -->
            	<button style='color:black;' type="button" class="btn btn-danger form-control" data-toggle="modal" data-target="#myModal3">BLOCK <span class='bikeid'></span></button>
<!-- Modal -->
          <div class="modal fade" id="myModal3" >
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
                  <h4 class="modal-title">BLOCK</h4>
                </div>
                <div class="modal-body">
                  <p >Block bike <span class='bikeid'>document.getElementsByClassName("bikeid")[0].innerText;</span></p>
                    Would you like to confirm blocking of this bike?<br><br>
                  <input style='border-radius:5px;color:black' type='submit' value='Confirm' onclick='blockBikeModal()'/>

                </div>

              </div>

            </div>
          </div>
          <button style='color:black;' type="button" class="btn btn-danger form-control" data-toggle="modal" data-target="#myModal4">UNBLOCK <span class='bikeid'></span></button>

        <!-- Modal -->
          <div class="modal fade" id="myModal4" >
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">UNBLOCK</h4>
                </div>
                <div class="modal-body">
                  <p >Unblock bike <span class='bikeid'>document.getElementsByClassName("bikeid")[0].innerText;</span></p>
                    Would you like to confirm unblocking of this bike?<br><br>
                  <input style='border-radius:5px;color:black' type='submit' value='Confirm' onclick='unblockBikeModal()'/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id='reservations'>
          <table id="ReservationsTable" class="table table-design2 table-dark">
            <input type="text" id="reservationSearch" onkeyup="reservationSearchFun()" placeholder="Search for reservations based on...">
            <tbody style="height: 10px !important;">
            </tbody>
          </table>
        </div>
    </div>
   <!--- need to load the geometry library for calculating distances, see http://www.svennerberg.com/2011/04/calculating-distances-and-areas-in-google-maps-api-3/ --->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_ItPKqeOzT7ZXw3pQOAIiHRWXo63Q7Qg&libraries=geometry&sensor=false">
    </script>
    <script type="text/javascript">
      document.getElementById('bikeoptions').style.visibility='hidden';
//--------------------------------------------------------------------------------------------------------
      function searchFun() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue,x,y,trues;
        input = document.getElementById("search");
        filter = input.value.toUpperCase().split('/');
        table = document.getElementById("BikeTable");
        tr = table.getElementsByTagName("tr");
        trues={};
        y=1;
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          td2 = tr[i].getElementsByTagName("td")[0];
          td3 = tr[i].getElementsByTagName("td")[2];
          td4 = tr[i].getElementsByTagName("td")[3];
          if (td||td2||td3||td4) {
            txtValue = td.textContent || td.innerText;
            txtValue2 = td2.textContent || td2.innerText;
            txtValue3 = td3.textContent || td3.innerText;
            txtValue4 = td4.textContent || td4.innerText;
            for (x = 0; x < filter.length; x++) {
                if (txtValue.toUpperCase().indexOf(filter[x]) > -1 || txtValue4.toUpperCase().indexOf(filter[x]) > -1 || txtValue2.toUpperCase().indexOf(filter[x]) > -1 || txtValue3.toUpperCase().indexOf(filter[x]) > -1) {
                  trues[x]=0;
                } else {
                  trues[x]=1;
                }
            }
            for (x = 0; x < filter.length; x++) {
              if(trues[x]==1)
              {
                y=0;
              }
            }
            if (y!=0) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
            y=1;
          }
        }
      }
  //---------------------------------------------------------------------------------------------------------
  function reservationSearchFun() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue,x,y,trues;
    input = document.getElementById("reservationSearch");
    filter = input.value.toUpperCase().split('/');
    table = document.getElementById("ReservationsTable");
    trues={};
    y=1;
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      td2 = tr[i].getElementsByTagName("td")[1];
      td3 = tr[i].getElementsByTagName("td")[2];
      td4 = tr[i].getElementsByTagName("td")[3];
      td5 = tr[i].getElementsByTagName("td")[4];
      td6 = tr[i].getElementsByTagName("td")[5];
      td7 = tr[i].getElementsByTagName("td")[6];
      td8 = tr[i].getElementsByTagName("td")[7];
      td9 = tr[i].getElementsByTagName("td")[8];
      td10 = tr[i].getElementsByTagName("td")[9];
      if (td||td2||td3||td4||td5||td6||td7||td8||td9||td10) {
        txtValue={};
        txtValue[0] = td.textContent || td.innerText;
        txtValue[1] = td2.textContent || td2.innerText;
        txtValue[2] = td3.textContent || td3.innerText;
        txtValue[3] = td4.textContent || td4.innerText;
        txtValue[4]= td5.textContent || td5.innerText;
        txtValue[5]= td6.textContent || td6.innerText;
        txtValue[6] = td7.textContent || td7.innerText;
        txtValue[7] = td8.textContent || td8.innerText;
        txtValue[8] = td9.textContent || td9.innerText;
        txtValue[9] = td10.textContent || td10.innerText;
        for (x = 0; x < filter.length; x++) {
          if (txtValue[0].toUpperCase().indexOf(filter[x]) > -1||txtValue[1].toUpperCase().indexOf(filter[x]) > -1||txtValue[2].toUpperCase().indexOf(filter[x]) > -1 || txtValue[3].toUpperCase().indexOf(filter[x]) > -1 ||txtValue[4].toUpperCase().indexOf(filter[x]) > -1||txtValue[5].toUpperCase().indexOf(filter[x]) > -1 || txtValue[6].toUpperCase().indexOf(filter[x]) > -1 || txtValue[7].toUpperCase().indexOf(filter[x]) > -1 || txtValue[8].toUpperCase().indexOf(filter[x]) > -1) {
            trues[x]=0;
          } else {
            trues[x]=1;
          }
        }
        for (x = 0; x < filter.length; x++) {
          if(trues[x]==1)
          {
            y=0;
          }
        }
        if (y!=0) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
        y=1;
      }
    }
  }
  //---------------------------------------------------------------------------------------------------------
  $(function() {


  // This function gets cookie with a given name
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  /*
  The functions below will create a header with csrftoken
  */

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  function sameOrigin(url) {
      // test that a given url is a same-origin URL
      // url could be relative or scheme relative or absolute
      var host = document.location.host; // host + port
      var protocol = document.location.protocol;
      var sr_origin = '//' + host;
      var origin = protocol + sr_origin;
      // Allow absolute or scheme relative URLs to same origin
      return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
          (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
          // or any other URL that isn't scheme relative or absolute i.e relative.
          !(/^(\/\/|http:|https:).*/.test(url));
  }

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
              // Send the token to same-origin, relative URLs only.
              // Send the token only if the method warrants CSRF protection
              // Using the CSRFToken value acquired earlier
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

});
  //---------------------------------------------------------------------------------------------------------
      var bikeid;
      $('.bikeButton').click(function(){
        clearTimeout(moveMarker);
        bikeid=this.name;
        event.preventDefault();
        $.ajax({
          url : "/operator/log/", // the endpoint
          type : "POST", // http method
          data : { formtype: 'bikeselected', bikeid:bikeid}, // data sent with the post fo
          // handle a successful response
          success : function(json) {
            //IF ELSE LOOP IF NO TIME THEN DISPLAY ERROR AND CLICK CANCEL BUTTON
            //IF THERE ARE NO TIMES AVAILABLE THEN :
            //alert('Sorry, there are no other times you can change, other reservations occupied')
            //document.getElementById('pleaseclose').click();
            document.getElementById('bikeoptions').style.visibility='visible';
            $('.bikeid').text(json[0]['bike_id']);
            viewReservations(json);
            if(json[0]['type']==1)
              {
                $("#addmarker").text('1'+"/"+json[0]['lat']+"/"+json[0]['lon']+"/"+json[0]['stationname']);
                document.getElementById("addmarker").click();
              }
            else{
              $("#addmarker").text('0'+"/"+json[0]['startlat']+"/"+json[0]['startlon']+"/"+json[0]['startname']+"/"+json[0]['duration']+"/"+json[0]['endlat']+"/"+json[0]['endlon']+"/"+json[0]['endname']+"/"+json[0]['shouldlock']);
              document.getElementById("addmarker").click();
            }
          },
          // handle a non-successful response
          error : function(xhr,errmsg,err) {
                  }
        });
      });
//--------------------------------------------------------------------------------------------------
$('.viewreservations').click(function(){
  event.preventDefault();
  $.ajax({
    url : "/operator/log/", // the endpoint
    type : "POST", // http method
    data : { formtype: 'viewreservations'}, // data sent with the post fo
    // handle a successful response
    success : function(json) {
        viewReservations(json);
    },
    // handle a non-successful response
    error : function(xhr,errmsg,err) {
            }
  });
});
//--------------------------------------------------------------------------------------------------
$('.viewbikes').click(function(){
  event.preventDefault();
  $.ajax({
    url : "/operator/log/", // the endpoint
    type : "POST", // http method
    data : { formtype: 'viewbikes'}, // data sent with the post fo
    // handle a successful response
    success : function(json) {
        viewBikes(json);
    },
    // handle a non-successful response
    error : function(xhr,errmsg,err) {
            }
  });
});
//--------------------------------------------------------------------------------------------------
function viewBikes(json) {
  $('#BikeTable').find('tbody').empty();
    if(json[1]!=null){
      for (var i = 1; i < Object.keys(json).length; i++) {
        var d;
        if(json[i]['bike_status']=="Outofservice")
        {
          d="background-color: #B22222;color:white;";
        }
        else if(json[i]['bike_status']=="active")
        {
          d='background-color: green;color:white;';
        }
        else{
          d='background-color: #3d3a3a;color:#3dcacd;';
        }
        var url_mask = "{% static 'bikes/12345' %}".replace(/12345/, json[i]['bike_image']);
        $('#BikeTable').find('tbody').append('<tr style="'+d
        +'"><td class="hidden">'+json[i]['bike_type']+'</td>'
        +'<td><button class="bikeButton" onclick="viewbik(\''
          +json[i]['bike_id']+'\')">.'+json[i]['bike_id']
          +'.<img style="width:60px;height:60px;-webkit-filter: drop-shadow(1px 1px 0 black)drop-shadow(-1px -1px 0 darkgrey);filter: drop-shadow(1px 1px 0 darkgrey) drop-shadow(-1px -1px 0 darkgrey);" src="'
                        +url_mask
                        +'"></button></td><td class="hidden">'+json[i]['bike_stationedat_name']
                     +'</td><td class="hidden">'+  json[i]['bike_status']
            +'</td></tr>');
      }
    }

}
//--------------------------------------------------------------------------------------------------
function viewReservations(json) {
  $('#ReservationsTable').find('tbody').empty();
    if(json[1]!=null){
      for (var i = 1; i < Object.keys(json).length; i++) {
        str='';
        for (var x = 0; x < Object.keys(json[i]['bikes_on_reservation']).length; x++) {
          var url_mask = "{% static 'bikes/12345' %}".replace(/12345/, json[i]['bikes_on_reservation'][x]['bike_image']);
            str+='<button class="bikeButton" name="'+json[i]['bikes_on_reservation'][x]['bike_id']+'" disabled><img style="width:50px;height:50px;-webkit-filter: drop-shadow(1px 1px 0 black)drop-shadow(-1px -1px 0 white);filter: drop-shadow(1px 1px 0 white)drop-shadow(-1px -1px 0 black);" src="'+url_mask+'">'+json[i]['bikes_on_reservation'][x]['bike_id']+'</button>';
              }
        $('#ReservationsTable').find('tbody').append('<tr><td style="text-shadow:none;color:#3d3a3a;;display: block;height:50px;">sdfsd</td><td class="hidden">'+json[i]['res_type'].toUpperCase()+'</td><td style="display: block;background-color:gray;color:black;"><h4>'+json[i]['res_type'].toUpperCase()+' Reservation: '+json[i]['res_code']+
            '</h4>Reserved on: '+json[i]['res_date']+'&nbsp; &nbsp; &nbsp; &nbsp;  Paid: '+json[i]['res_cost']+'</td>'
            +'<td style="display: block;width:100%;font-size:15px;background-color:green;border-radius:2px;">Start:'
            +json[i]['startname']+'&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Start time:'+json[i]['starttime']+'</td><td style="display: block;width:100%;font-size:15px;background-color:#B22222;">End: '+json[i]['endname']+'&nbsp; &nbsp; &nbsp; &nbsp; End time:'+
              json[i]['endtime']+'</td><td style="display: block;"colspan="2">'+str+'</td>'
              +'<td style="color:white;display: block;">'+'<div style="border:1px solid black;border-radius:2px;display:inline-block;"> USER ID:'+json[i]['c_id'].split(' ')[0]+'<span class="hidden">'+json[i]['c_id'].split(' ')[1]+'</span><button class="btn btn-danger" onclick="blockModal(\''
                +json[i]['c_id'].split(' ')[0]+'\')">Block</button></div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; RATING:'+json[i]['c_rating']+'&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; FINE COST:  '+json[i]['fine_cost']+
            '</td><td style="display: block;color:white;">FEEDBACK: '+json[i]['feedback']+'</td>'+
            '<td style="display: block;color:white;">FINE DESCRIPTION: '+json[i]['fine_desc']+'</td>'
            +'<td style="display: block;width:100%;"><button type="button"  class="cancel btn btn-danger" onclick="cancelModal(\''
              +json[i]['reservation_id']+'\')">Cancel</button>'+'<button type="button" style="color:black" class="refund btn btn-success" onclick="processRefund(\''
              +json[i]['reservation_id']+'\')">Process Refund</button>'+'</td></tr>');
      }
    }

}
//--------------------------------------------------------------------------------------------------

function viewbik(name){
  clearTimeout(moveMarker);
  bikeid=name;
  event.preventDefault();
  $.ajax({
    url : "/operator/log/", // the endpoint
    type : "POST", // http method
    data : { formtype: 'bikeselected', bikeid:bikeid}, // data sent with the post fo
    // handle a successful response
    success : function(json) {
      //IF ELSE LOOP IF NO TIME THEN DISPLAY ERROR AND CLICK CANCEL BUTTON
      //IF THERE ARE NO TIMES AVAILABLE THEN :
      //alert('Sorry, there are no other times you can change, other reservations occupied')
      //document.getElementById('pleaseclose').click();
      document.getElementById('bikeoptions').style.visibility='visible';
      $('.bikeid').text(json[0]['bike_id']);
      viewReservations(json);
      if(json[0]['type']==1)
        {
          $("#addmarker").text('1'+"/"+json[0]['lat']+"/"+json[0]['lon']+"/"+json[0]['stationname']);
          document.getElementById("addmarker").click();
        }
      else{
        $("#addmarker").text('0'+"/"+json[0]['startlat']+"/"+json[0]['startlon']+"/"+json[0]['startname']+"/"+json[0]['duration']+"/"+json[0]['endlat']+"/"+json[0]['endlon']+"/"+json[0]['endname']+"/"+json[0]['shouldlock']);
        document.getElementById("addmarker").click();
      }
    },
    // handle a non-successful response
    error : function(xhr,errmsg,err) {
            }
  });
}
//--------------------------------------------------------------------------------------------------

function cancelModal(name){
  alert(name);
}
//--------------------------------------------------------------------------------------------------
function addFineModal(name){
  alert(name);
}
//--------------------------------------------------------------------------------------------------
function processRefund(name){
  alert(name);
}
//--------------------------------------------------------------------------------------------------
function blockModal(name){

  alert(name);
}
//--------------------------------------------------------------------------------------------------
function transferModal(){
  var bikeID = document.getElementsByClassName("bikeid")[0].innerText;
  var station=document.getElementById("station").options[document.getElementById("station").selectedIndex].value;
  if(station=="")
  {
    alert('Please select a valid option');
    return;
  }
    //if the bike is outofservice this should be possible
    //else display alert saying sorry this is not possible
    event.preventDefault();
    $.ajax({
      url : "/operator/log/", // the endpoint
      type : "POST", // http method
      data : { formtype: 'transferBike', bikeid:bikeID,station:station}, // data sent with the post fo
      // handle a successful response
      success : function(json) {
        //IF ELSE LOOP IF NO TIME THEN DISPLAY ERROR AND CLICK CANCEL BUTTON
        //IF THERE ARE NO TIMES AVAILABLE THEN :
        //alert('Sorry, there are no other times you can change, other reservations occupied')
        //document.getElementById('pleaseclose').click();
        if(json[0]==0){
            alert('Transfer of bike was not possible the bike has future reservations!'); // remove t // remove the value from the input
            reload_page();}
        else
        {  alert('The bike was successfully transfered to station '+json[1]); // remove t // remove the value from the input
           reload_page();}
      },

      // handle a non-successful response
      error : function(xhr,errmsg,err) {
              }
    });
  //set start station end station
  //set start time and end time
  //same as how we reserve a bike in the users interface
  //if this is not possible then display alert saying sorry the bike has future reservations delete them first
  //else make a reservation for third company to transfer bike


}

//--------------------------------------------------------------------------------------------------
function reload_page()
{
  window.location.reload(true);
}
//--------------------------------------------------------------------------------------------------
function blockBikeModal(){
  var bikeID = document.getElementsByClassName("bikeid")[0].innerText;
   //if the bike is outofservice this should be possible
    //else display alert saying sorry this is not possible
    event.preventDefault();
    $.ajax({
      url : "/operator/log/", // the endpoint
      type : "POST", // http method
      data : { formtype: 'blockBike', bikeid:bikeID}, // data sent with the post fo
      // handle a successful response
      success : function(json) {
        if(json[0]==0){
            alert('The bike has future reservations and cannot be blocked!'); // remove t // remove the value from the input
            reload_page();}
        else
        {  alert('The bike was successfully blocked!'); // remove t // remove the value from the input
           reload_page();}
      },

      // handle a non-successful response
      error : function(xhr,errmsg,err) {
              }
    });
}
//--------------------------------------------------------------------------------------------------
function unblockBikeModal(){
  var bikeID = document.getElementsByClassName("bikeid")[0].innerText;
   //if the bike is outofservice this should be possible
    //else display alert saying sorry this is not possible
    event.preventDefault();
    $.ajax({
      url : "/operator/log/", // the endpoint
      type : "POST", // http method
      data : { formtype: 'unblockBike', bikeid:bikeID}, // data sent with the post fo
      // handle a successful response
      success : function(json) {
        if(json[0]==0){
            alert('The bike is already unblocked!'); // remove t // remove the value from the input
            reload_page();}
        else
        {  alert('The bike was successfully unblocked!'); // remove t // remove the value from the input
           reload_page();}
      },

      // handle a non-successful response
      error : function(xhr,errmsg,err) {
              }
    });
}
//--------------------------------------------------------------------------------------------------
function replaceModal(){
  var bikeID = document.getElementsByClassName("bikeid")[0].innerText;
   //if the bike is outofservice this should be possible
    //else display alert saying sorry this is not possible
    event.preventDefault();
    $.ajax({
      url : "/operator/log/", // the endpoint
      type : "POST", // http method
      data : { formtype: 'replaceBike', bikeid:bikeID}, // data sent with the post fo
      // handle a successful response
      success : function(json) {
        //IF ELSE LOOP IF NO TIME THEN DISPLAY ERROR AND CLICK CANCEL BUTTON
        //IF THERE ARE NO TIMES AVAILABLE THEN :
        //alert('Sorry, there are no other times you can change, other reservations occupied')
        //document.getElementById('pleaseclose').click();
           if(json[0]==0){
             alert('The bike was not replaced because its active or being tracked'); // remove t // remove the value from the input
               reload_page();}
           else
           {  alert('The bike was successfully replaced'); // remove t // remove the value from the input
             reload_page();}
      },

      // handle a non-successful response
      error : function(xhr,errmsg,err) {
              }
    });
}
//--------------------------------------------------------------------------------------------------
document.getElementById('addmarker').style.display="none";
  var map;
  var marker;
  var markers=[];
  var i = 0;
  var deltaLat;
  var deltaLng;
    var delay; //milliseconds
  var position = [55.94136542, -3.18470478];
        function initMap() {
            var startLatlng = new google.maps.LatLng(55.966530000000000,-3.2143800000000000);
            var endLatLng = new google.maps.LatLng(55.939940000000000,-3.1918600000000000);

          map = new google.maps.Map(document.getElementById("map_canvas"),{
                      center: {lat:55.94136542,lng:-3.18470478},
                      zoom: 12,
                      zoomControl: false,
                      streetViewControl:false,
                      styles:
                      [
                    {
                      "featureType": 'poi',
                      "stylers": [{"visibility": 'off'}]
                    },
                        {
                            "featureType": "all",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "hue": "#ff0000"
                                },
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": -30
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#353535"
                                }
                            ]
                        },
                      ]
                    });
                    var bikeLayer = new google.maps.BicyclingLayer();
                    bikeLayer.setMap(map);
                    var allowedBounds = new google.maps.LatLngBounds(
                        new google.maps.LatLng(55.87194684844871,-3.4801332165092163),
                        new google.maps.LatLng(56.042897365961046,-2.918450843462324));
                        google.maps.event.addListener(map, 'dragend', function() {
                            if (allowedBounds.contains(map.getCenter())) return;
                            // Out of bounds - Move the map back within the bounds
                            var c = map.getCenter(),
                                x = c.lng(),
                                y = c.lat(),
                                maxX = allowedBounds.getNorthEast().lng(),
                                maxY = allowedBounds.getNorthEast().lat(),
                                minX = allowedBounds.getSouthWest().lng(),
                                minY = allowedBounds.getSouthWest().lat();
                            if (x < minX) x = minX;
                            if (x > maxX) x = maxX;
                            if (y < minY) y = minY;
                            if (y > maxY) y = maxY;
                            map.setCenter(new google.maps.LatLng(y, x));
                          });
                          var geojson = [
                          {% for stat in station %}
                              {% if not forloop.first %},{% endif %}
                              {
                                  station_id: "{{ stat.station_id }}",
                                  address: "{{ stat.address }}",
                                  lat: "{{ stat.lat }}",
                                  lon: "{{ stat.lon }}",
                                  name: "{{ stat.name }}",
                                  images: "{{ stat.image }}",
                                  info: "{{ stat.info }}",
                                  is_active: "{{ stat.is_active }}",
                                  fine_cost: "{{ stat.fine_cost }}",
                                  fine_desc: "{{ stat.fine_desc }}"
                              }
                          {% endfor %}
                          ];
            // The marker, positioned at Uluru
            geojson.forEach(function(marker1) {
              var infowindow = new google.maps.InfoWindow({
                      content:"<h5 style='padding:10px;color:black'>"+marker1.name+"</h5>",
                      position: new google.maps.LatLng(-32.0, 149.0),
                      maxWidth: 350,
                    });
              var latln = {lat:parseFloat(marker1.lat),lng:parseFloat(marker1.lon)};
              var Marker = new google.maps.Marker({
                  map: map,
                  icon: "{% static 'icons/marker2.png' %}",
                 position: latln
              });
              Marker.addListener('mouseover', function() {
                  infowindow.open(map, this);
                });

// assuming you also want to hide the infowindow when user mouses-out
            Marker.addListener('mouseout', function() {
                infowindow.close();
            });
            });
            var opt = { minZoom: 11.5, maxZoom: 15 };
            map.setOptions(opt);

            // Sets the map on all markers in the array.

             google.maps.event.addDomListener(document.getElementById('addmarker'), 'click', function(evt) {
               str= $('#addmarker').text().split('/');
               clearMarkers();
               var icon;
               if(str[0]=='1'){
                icon = {
                   url: "{% static 'icons/bike.png' %}", // url
                   scaledSize: new google.maps.Size(30, 30), // scaled size
                 };
               marker = new google.maps.Marker({
                   position: {lat:parseFloat(str[1]),lng:parseFloat(str[2])},
                   icon: icon,
                   map: map
               });
               var ind = new google.maps.InfoWindow({
                 content:"<h5 style='padding:10px;color:black'>"+str[3]+"</h5>",
                       position: new google.maps.LatLng(-32.0, 149.0),
                       maxWidth: 350
                     });
                     marker.addListener('mouseover', function() {
                         ind.open(map, this);
                       });

       // assuming you also want to hide the infowindow when user mouses-out
                   marker.addListener('mouseout', function() {
                       ind.close();
                   });
                  }
                  else{
                    if(str[8]=='0'){
                    icon = {
                       url: "{% static 'icons/bikeongoing.png' %}", // url
                       scaledSize: new google.maps.Size(30, 30), // scaled size
                     };}
                     else{
                       icon = {
                          url: "{% static 'icons/bike.png' %}", // url
                          scaledSize: new google.maps.Size(30, 30), // scaled size
                        };
                     }
                  marker = new google.maps.Marker({
                      position: {lat:parseFloat(str[1]),lng:parseFloat(str[2])},
                      icon: icon,
                      map: map
                  });
                  var ind = new google.maps.InfoWindow({
                          content:"<h5 style='padding:10px;color:black'>Coming from "+str[3]+" landing at "+str[7]+" </h5>",
                          position: new google.maps.LatLng(-32.0, 149.0),
                          maxWidth: 350
                        });
                        marker.addListener('mouseover', function() {
                            ind.open(map, this);
                          });

          // assuming you also want to hide the infowindow when user mouses-out
                      marker.addListener('mouseout', function() {
                          ind.close();
                      });
                      position[0]=parseFloat(str[1]);
                      position[1]=parseFloat(str[2]);

                      var result = [parseFloat(str[5]),parseFloat(str[6])];
                      delay=10;
                      transition(result);

                     }
               markers.push(marker);
             });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
        // draw a marker
        function setMapOnAll(map) {
          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
          }
        }
          // Shows any markers currently in the array.
       function showMarkers() {
         setMapOnAll(map);
       }

       // Deletes all markers in the array by removing references to them.
       function deleteMarkers() {
         clearMarkers();
         markers = [];
       }
        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
          setMapOnAll(null);
        }
            var numDeltas = 100;

    function transition(result){
        i = 0;
        deltaLat = (result[0] - position[0])/numDeltas;
        deltaLng = (result[1] - position[1])/numDeltas;

        moveMarker();
    }

    function moveMarker(){
        position[0] += deltaLat;
        position[1] += deltaLng;
        var latlng = new google.maps.LatLng(position[0], position[1]);
        marker.setTitle("Latitude:"+position[0]+" | Longitude:"+position[1]);
        marker.setPosition(latlng);
        if(i!=numDeltas){
            i++;
            setTimeout(moveMarker, delay);
        }
    }
    function reload_page()
    {
      window.location.reload(true);
      document.getElementById("right-panel").style.display="none";

    }


    var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
    </script>
{% endblock %}
