{% extends 'base.html' %}
{% block head %}
  <title> Track Bikes</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style>
    body{color: white;}
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
     background-color: #3dcacd;
     color:#3d3a3a;
     font-size: 15px;
    }
    .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
       text-indent:10%;
       font-size:10px;
       font-weight:none; !important
       text-shadow:none; !important
     }
    #iw-container {
      margin-bottom: 10px;
    }
     #iw-container .iw-title {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 22px;
      font-weight: 400;
      padding: 10px;
      background-color: #3dcacd;
      color: white;
      margin: 0;
      border-radius: 2px 2px 0 0;
     }
     #iw-container .iw-content {
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      margin-right: 1px;
      padding: 15px 5px 20px 15px;
      max-height: 140px;
      overflow-y: auto;
      overflow-x: hidden;
     }
     .iw-content img {
      float: right;
      margin: 0 5px 5px 10px;
     }
     .iw-subTitle {
      font-size: 16px;
      font-weight: 700;
      padding: 5px 0;
     }
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map_canvas{
          position: absolute;
          top: 14%;
          bottom: 0;
          width: 50%;
          height: 150%;
          float:right;
          right:2%;
          border: 1px solid white;
        }

        .contain{
          border-radius:3px;
          border:1px solid #3dcacd;
          float:left; background-color: #3d3a3a;
          position:absolute;
          right:54%;
          top:14%;
          left:2%;
          height: 150%;
          padding:5px;
        }
        #myBtn{background-color:#3dcacd;
        font-size: 16px;}

    .custom-select {
      position: relative;
      font-family: Arial;
    }

    .custom-select select {
      display: none; /*hide original SELECT element:*/
    }

    .select-selected {
      background-color: DodgerBlue;
    }

    /*style the arrow inside the select element:*/
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }

    /*point the arrow upwards when the select box is open (active):*/
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }

    /*style the items (options), including the selected item:*/
    .select-items div,.select-selected {
      color: #ffffff;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
      user-select: none;
    }

    /*style items (options):*/
    .select-items {
      position: absolute;
      background-color: DodgerBlue;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }

    /*hide the items when the select box is closed:*/
    .select-hide {
      display: none;
    }

    .select-items div:hover, .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
    </style>

{% endblock %}
{% block body %}
<div class="container" >

  <div class="contain">
      <h3>Track Bikes</h3>
      <table class="table table-striped table-dark">
        <tbody>
          <tr>
            <th scope="row">Select Bike</th>
          </tr>

          <tr>
            <th scope="row">
<!--     <a href="#">type of bike</a>
    <a href="#">based on station</a>
    <a href="#">reported defective bikes</a>
     <a href="#">active</a>
      <a href="#">stationed</a>
       <a href="#">out of service</a> -->

  <!-- </div>  -->
 <!--  <div class="w3-dropdown-click">
    <button onclick="myfifi()" class="w3-button w3-black">Choose:</button>
    <div id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
     <button onclick="myipi()" class="w3-button w3-black">Type of bike</button>
      <button onclick="myipi()" class="w3-button w3-black">Defective Bike</button>
     <button onclick="myipi()" class="w3-button w3-black">Active</button>
     <button onclick="myipi()" class="w3-button w3-black">Station</button>
     <button onclick="myipi()" class="w3-button w3-black">Out of service</button>
     <button onclick="myipi()" class="w3-button w3-black">Stationed</button>
    </div>
  </div> -->
<div class="custom-select" style="width:200px;">
  <select>
    <option value="0">Choose category:</option>
    <option value="1">Type of bike</option>
    <option value="2">Station</option>
    <option value="3">Defective Bike</option>
    <option value="4">Active</option>
    <option value="5">Stationed</option>
    <option value="6">Out of service</option>

  </select>
</div>
  <table style="width:100%" >

  <tr>
    <th>Bike ID</th>
    <th>Status of the bike</th>
    <th>Select/Unselect</th>

  </tr>
  {% for bikes in status_of_bike %}
  <tr>
    <td>{{ bikes.bike_status_id}}</td>


    <td>{{ bikes.bike_status_name}}</td>


    <td><button type="button" class="btn btn-primary" onclick="myFunction()">Select</button></td>
  </tr>

{% endfor %}
</table>

</th>
          </tr>
 <tr>
            <th scope="row"><button id="myBtn" onclick="myFun()">Block bike from viewing</button></th>
          </tr>

          <tr>
            <th scope="row"><p id="demo"></p></th>
          </tr>


          <tr>
            <th scope="row"><button id="myBtn" onclick="myFun1()">Replace Bike</button></th>
          </tr>

          <tr>
            <th scope="row"><p id="do"></p></th>
          </tr>


          <tr>
            <th scope="row">View Reservation</th>

 </tr>

  <table style="width:100%" id="reserving"><div class="custom-select" style="width:200px;"> <select><option value="0">Choose Type:</option> <option value="1">Past</option><option value="2">Ongoing</option><option value="3">Future</option></select></div><tbody> <th scope="row"> <tr> <th>Start Time</th> <th>End Time</th> <th>Cost</th> </tr> <tr> <td> 12:00</td> <td> 14:00</td> <td>45</td> </tr> </tbody> </table>
  <tr>
            <button id="myBtn" onclick="myFun2()">Cancel Reservation</button>

          <p id="d"></p>

    <tr>
            <th scope="row"><button id="myBtn" onclick="myFun3()">Add Fines</button></th>
          </tr>

          <tr>
            <th scope="row"><p id="dom"></p></th>
          </tr>

</div>

</div>
<div id="map_canvas"></div>



<script>
var x, i, j, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
for (i = 0; i < x.length; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  /*for each element, create a new DIV that will act as the selected item:*/
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  /*for each element, create a new DIV that will contain the option list:*/
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < selElmnt.length; j++) {
    /*for each option in the original select element,
    create a new DIV that will act as an option item:*/
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
        /*when an item is clicked, update the original select box,
        and the selected item:*/
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
      /*when the select box is clicked, close any other select boxes,
      and open/close the current select box:*/
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
}
function closeAllSelect(elmnt) {
  /*a function that will close all select boxes in the document,
  except the current select box:*/
  var x, y, i, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  for (i = 0; i < y.length; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < x.length; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
</script>




   <!--- need to load the geometry library for calculating distances, see http://www.svennerberg.com/2011/04/calculating-distances-and-areas-in-google-maps-api-3/ --->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>

    <script type="text/javascript">



document.getElementById("myBtn").disabled = true;
function myFunction() {
  document.getElementById("myBtn").disabled = false;

}
function myFun1() {
  document.getElementById("do").innerHTML = "Replaced";
  document.getElementById("myBtn").disabled = true;

}
function myFun() {
  document.getElementById("demo").innerHTML = "Blocked";
  document.getElementById("myBtn").disabled = true;

}
function myFun2() {
  document.getElementById("d").innerHTML = "Cancelled";
  document.getElementById("myBtn").disabled = true;

}
function myFun3() {
  document.getElementById("dom").innerHTML = "Sent to database";
  document.getElementById("myBtn").disabled = true;

}
        function initMap() {
            var startLatlng = new google.maps.LatLng(55.966530000000000,-3.2143800000000000);
            var endLatLng = new google.maps.LatLng(55.939940000000000,-3.1918600000000000);

            var map = new google.maps.Map(document.getElementById("map_canvas"),{
                      center: {lat:55.94136542,lng:-3.18470478},
                      zoom: 12,
                      zoomControl: false,
                      streetViewControl:false,
                      styles:
                      [
                    {
                      "featureType": 'poi',
                      "stylers": [{"visibility": 'off'}]
                    },
                        {
                            "featureType": "all",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "hue": "#ff0000"
                                },
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": -30
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#353535"
                                }
                            ]
                        },
                      ]
                    });

            var startMarker = new google.maps.Marker({
                position: startLatlng,
                map: map
            });

            var endMarker = new google.maps.Marker({
                position: endLatLng,
                map: map
            });

            // draw a line between the points
            var line = new google.maps.Polyline({
                path: [startLatlng, endLatLng],
                strokeColor: "##FF0000",
                strokeOpacity: 0.5,
                strokeWeight: 4,
                geodesic: true,
                map: map
            });

            // what's the distance between these two markers?
            var distance = google.maps.geometry.spherical.computeDistanceBetween(
                startLatlng,
                endLatLng
            );

            // 200 miles in meters
            var markerDistance = 500;

            var drawMarkers = true;

            var newLatLng = startLatlng;

            // stop as soon as we've gone beyond the end point
            while (drawMarkers == true) {
                // what's the 'heading' between them?
                var heading = google.maps.geometry.spherical.computeHeading(
                    newLatLng,
                    endLatLng
                );

                // get the latlng X miles from the starting point along this heading
                 var newLatLng = google.maps.geometry.spherical.computeOffset(
                    newLatLng,
                    markerDistance,
                    heading
                );

                // draw a marker
                var newMarker = new google.maps.Marker({
                    position: newLatLng,
                    map: map
                });

                // calculate the distance between our new marker and the end marker
                var newDistance = google.maps.geometry.spherical.computeDistanceBetween(
                    newLatLng,
                    endLatLng
                );

                if (newDistance <= markerDistance) {
                    drawMarkers = false;
                }
            }
        }

        google.maps.event.addDomListener(window, 'load', initMap);



    </script>
{% endblock %}
