{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title>Daily Reports</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <link rel="stylesheet" href= "{% static 'css/manager/usagereports.css' %}" type="text/css">

  <style>
body{
background-color: #C0C0C0;
 font-family: 'Poppins', sans-serif;
}
.button {
	color:black;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color:#3dcacd ;
  width:50%;
  border: none;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.button:hover {
	background-color: #a9cce3 ;cursor: pointer;

 visibility: visible;
 opacity: 0.7; }
 .button {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.refresh{
	background: white;
}


.modal-content{
	border-radius: 20px;
	background-color: #F6F5F5;
	text-align: center;
font-family: 'Poppins', sans-serif;
}

.modal-body{
		border-radius: 20px;
	background-color: #F6F5F5;
	font-family: 'Poppins', sans-serif;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3dcacd;
  border-radius: 15px;
}
.container {
  position: relative;
  width: 100%;
}
.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  height:70%;
  width:50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  	font-family: 'Poppins', sans-serif;
}

.flip-box-front{
	 background-color: #3dcacd;
}

</style>
{% endblock %}
{% block body %}
<div class="container">
	<div style="text-align: left">
  <h3>Heatmap of the most accesed station of the day - </h3>
  <h4 id="date"></h4
  	>
  	<br>
  	    <p>Press refresh to toogle heatmap</p>

  <button class="refresh" onclick="toggleHeatmap()">Refresh</button>

</div>

 <br>
  <div id="map"></div>
<br>



	<div id="gap"></div>
	<center>
        <div class="container">

          <a href="#custom-modal2"  data-target="#customModal1" data-toggle="modal" style="color: black">
            <button class="button">

              <div class="card-box" style=" border:1px solid black;">
                  <i class="fa fa-user-o float-right text-white"></i>
                  <h6 class="text-white text-uppercase m-b-20" style="text-align: center;">Active Reservation</h6>
                  <h1 class="m-b-20 text-white counter" style="text-align: center;"> {% if bike.bor_reservation_id == reservation.reservation_id %}
       {{count}}
        {% endif %}</h1>
              </div>

               <div class="overlay">
    <div class="text">Displays details of current resrvation </div>
  </div>

                </div>
          </button>
          </a>
        </div>
      </center>
      <br>
    <br>
    <br>


<div id="gap"></div>

   <div class="content-page" >
         <div id="container">
              <div id="ttuse">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6" >
                    <div class="card mb-3" style="background:#3dcacd; border:3px solid black; " >
                      <div class="card-header">
                        <h3><i class="fa fa-line-chart"></i>Weekly Stats</h3>
                        Current Week Stats.
                      </div>
                      <div class="card-body" style="background: white; border-top:3px solid black;">
                        <canvas id="lineChart"></canvas>
                      </div>
                    </div><!-- end card-->
                  </div>
               </div>



  <div class="flip-box" style="position: absolute; margin-top: 70%; margin-left: 20% ; animation-delay: 10;" >
          <div class="flip-box-inner">
            <div class="flip-box-front" style="border:3px solid black;">
              <h2>Active Stations Today</h2>

            </div>
<div class="flip-box-back" style="background: white; width: 400px; height: 500px ;border:3px solid black;">


                    <div class="card mb-3 " style="background:#3dcacd">
                      <div class="card-header" >
                        <h3><i class="fa fa-bar-chart-o" ></i> Stations</h3>
                        Most active stations today.
                      </div><br>
                      <div class="card-body" style="background: white; ">
                        <canvas id="pieChart"></canvas>
                      </div>
                    </div><!-- end card-->


            </div>
          </div>
        </div>


<div class="flip-box" style="position: absolute; margin-top: 70%; margin-left: 60%;animation-delay: 10;" >
          <div class="flip-box-inner">
            <div class="flip-box-front" style="border:3px solid black;">
              <h2>Bike Maintance Cost</h2>

            </div>
            <div class="flip-box-back" style="background: white; width: 300px; height: 400px ;border:3px solid black;">


                <div class="card mb-3" style="background:#3dcacd">
                  <div class="card-header">
                 <h3>   <i class="fa fa-table"></i>Bike Maintance Cost</h3>
                 Provides bike maintainces cost.
                  </div><br>
                  <div class="card-body"  style="background: white;">
                    <canvas id="radarChart"></canvas>
                  </div>
                </div><!-- end card-->
              </div>


              <!-- end row -->
            </div>
            </div>
          </div>
        </div>




               <div id="gap"></div>

              <!-- Modal -->
              <div class="modal fade custom-modal" id="customModal1" tabindex="1" role="dialog" aria-labelledby="customModal" aria-hidden="true">
                  <div class="modal-dialog" id="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" >Active Bikes</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="z-index: 80;">


                            <div >
                              Toggle columns (click to show / hide columns):
                              <br>
                              <a href="#" class="toggle-vis" data-column="0"><b>Bike ID</b></a> |
                              <a href="#" class="toggle-vis" data-column="0"><b>User ID</b></a> |
                              <a href="#" class="toggle-vis" data-column="1"><b>Bike Type</b></a> |
                              <a href="#" class="toggle-vis" data-column="2"><b>Bike Location</b></a>


                            </div>
                            <div class="table-responsive" >
                              <table id="example1" class="table table-bordered table-hover display">
                               <thead>

      <tr>
        <th> ID</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Bike ID</th>
        <th>Bike Type</th>
        <th>Rating</th>
        <th>Feedbacks</th>
      </tr>

    </thead>
    <tbody>
       {% for reservation in reservations %}
         {% for bike in bike %}
   {% if bike.bor_reservation_id == reservation.reservation_id %}
      <tr>

        <td>{{reservation.reservation_id}}</td>
        <td>{{reservation.starttime}}</td>
        <td>{{reservation.endtime}}</td>
        <td>{{bike.bike_id}}</td>
         <td>{{bike.bike_type.bike_type}}</td>
         <td>{{reservation.c_rating}}</td>
         <td>{{reservation.feedback}}</td>

      </tr>
       {% endif %}
 {% endfor %}
  {% endfor %}
    </tbody>
                              </table>
                            </div>
                          </div>
                        </div>

                  </div>
                </div>

<!-- BEGIN Java Script for this page -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script>

 // START CODE Show / hide columns dynamically DATA TABLE
    $(document).ready(function() {
      var table = $('#example1').DataTable( {
        "scrollY": "300px",
        "paging": false,

      } );

      $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
      } );
    } );
    // END CODE Show / hide columns dynamically DATA TABLE


     // START CODE Show / hide columns dynamically DATA TABLE
    $(document).ready(function() {
      var table = $('#example2').DataTable( {
        "scrollY": "350px",
        "paging": false
      } );

      $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
      } );
    } );
    // END CODE Show / hide columns dynamically DATA TABLE

var stationByStartTimeTD= {{stationByStartTimeTD|safe}};
var StationnameTD= {{StationnameTD|safe}};

var ctx2 = document.getElementById("pieChart").getContext('2d');
  var pieChart = new Chart(ctx2, {
    type: 'pie',
    data: {
        datasets: [{
          data: stationByStartTimeTD,
          backgroundColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(74,222,234)',
            'rgba(50,110,212)',
            'rgba(211,50,212)',
            'rgba(255,0,0)',
            'rgba(0,255,146)',
            'rgba(227,255,0)',
            'rgba(234,123,10)',
            'rgba(4,255,72)'
          ],
          label: 'Stations'
        }],
        labels: StationnameTD
      },
      options: {
        responsive: true
      }

  });


  </script>
  <script>

n =  new Date();
document.getElementById("date").innerHTML = n ;

var totalreservperDOW= {{totalreservperDOW|safe}};

// comboBarLineChart
  var ctx2 = document.getElementById("lineChart").getContext('2d');
  var comboBarLineChart = new Chart(ctx2, {
    type: 'line',
    data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
          type: 'line',
          label: 'Current Week',
          borderColor: 'Red',
          borderWidth: 3,
          fill: false,
          data: totalreservperDOW,
        }],
        borderWidth: 3
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  });

// radarChart
  var ctx5 = document.getElementById("radarChart").getContext('2d');
  var doughnutChart = new Chart(ctx5, {
    type: 'radar',
    data: {
        labels: ["Handles","Wheels", "Chains" ,"Pedals","GPS tracker","Locks","Other Expense"],
        datasets: [{
          label: "Last Year",
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255,99,132,1)',
          pointBackgroundColor: 'red',
          data: [26, 70, 30, 20,20,5,24]
        }, {
          label: "Current Year",
          backgroundColor: 'rgba(250, 80, 112, 0.3)',
          borderColor: 'rgba(54, 162, 235, 1)',
          pointBackgroundColor: 'blue',
          data: [3, 25, 4,0,1,3,10]
        },]
      },
      options: {
        responsive: true
      }

  });

</script>

<script>

  var map, heatmap;



  function initialize() {

    map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat:55.94136542,lng:-3.18470478},
          zoom: 12,
          zoomControl: false,
          streetViewControl:false,
          styles:
          [
        {
          "featureType": 'poi',
          "stylers": [{"visibility": 'off'}]
        },
            {
                "featureType": "all",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#ff0000"
                    },
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": -30
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#ffffff"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "color": "#353535"
                    }
                ]
            },
          ]
        });
       var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);

        var allowedBounds = new google.maps.LatLngBounds(

            new google.maps.LatLng(55.87194684844871,-3.4801332165092163),
              new google.maps.LatLng(56.042897365961046,-2.918450843462324));

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(),
    opacity:3.5,
    radius:35,
    map: map

  });



}
function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }

      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }

   // Heatmap data: 500 Points
      function getPoints() {
        return [
{% for loca in stationlonlatTD %}
new google.maps.LatLng {{loca}},
{% endfor %}
        ];
      }
google.maps.event.addDomListener(window, "load", initialize);
google.maps.event.addDomListener(window, "load", toggleHeatmap);
</script>
   <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_ItPKqeOzT7ZXw3pQOAIiHRWXo63Q7Qg&libraries=visualization&callback=initMap">
  </script>
{% endblock %}
