tbody, td,  th {
background-color: #3dcacd;
color:#3d3a3a;
font-size: 25px;
 border-radius:20px;
}
.alert{
 top: 70px; left: 10px; z-index: 99;right:10px; background-color:white;color:black;
}
.alert-success{
 top: 70px; left: 10px; z-index: 99;right:10px; background-color:white;color:green; font-size:20px;text-align:center;border:2px solid green;
}
.alert-error{
 top: 70px; left: 10px; z-index: 99;right:10px;  background-color:white;color:red;font-size:20px;text-align:center;border:2px solid red;
}
.close{
 color:black;
 padding-left:20px;
}
.navbar{
 background-color: #3d3a3a;
}
img{
 float:left;
 margin-top: -12px;
}
.centered{
 text-align:center;
 font-size:30px;
}
input{
 text-align:center;
 font-size:40px;
}
