body {
  margin: 0;
    padding-top: 70px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-marker {
width: 15px;
height: 15px;
border-radius: 50%;
border:1px solid #3d3a3a;
background-color: #3dcacd;
}
.mapboxgl-popup {
max-width: 200px;
}

.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}
