body{
  background-color: #AFABAA;
  padding-top: 70px;
font-family: 'Poppins', sans-serif;
}
a, a:active, a:visited { color: #AFABAA; }
a:hover {color: black; }
.navbar-dark .navbar-toggle {
  border-color: transparent; /* Removes border color */
}
.navbar-dark .navbar-toggle .icon-bar {
  background-color:  #3d3a3a; /* Changes regular toggle color */
}
