{% extends 'base.html' %}
{% block head %}
  <title>Customer Service</title>
<style>
.btn {
  background-color: #3dcacd;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
   width: 200px;
}

.btn{border-radius: 25%;}
</style>
{% endblock %}
{% block body %}

  <center><u><h1>Customer Service</h1></u></center>


  <center>
<h2>List of Users with:</h2>



<button type="button" class="btn btn-primary"  onclick="myFunction()">Black listed</button>

<button type="button" class="btn btn-primary" onclick="myFunction()">Fine</button>


<button type="button" class="btn btn-primary" onclick="myFunction()">Complaints</button>

<button type="button" class="btn btn-primary" onclick="myFunction()">Refund Requeest</button>


<table id="demo"></table>
</center>



<script>
function myFunction() {

  var x = document.getElementById("demo");
  x.innerHTML = " <tr>"+" "+" <th>ID_</th>"+" "+"<th>email_</th>"+" "+ " <th>See details_</th>"+" "+"</tr>" +" "+ "<tr> <td>Alfreds</td> <td>Maria </td> <td> <button >Try it</button></td> </tr>";
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
{% endblock %}
