{% extends 'base.html' %}
{% block head %}
  <title> Track Bikes</title>
  <style>
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
     background-color: #3dcacd;
     color:#3d3a3a;
     font-size: 15px;
  }
  .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   text-indent:10%;
   font-size:10px;
   font-weight:none; !important
   text-shadow:none; !important
}
    </style>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas{
      position: absolute;
      top: 70px;
      bottom: 0;
      width: 50%;
      height: 75%;
      float:left;
      left:2%;
      border: 1px solid white;
    }
    .contain{
      border-radius:3px;
      border:1px solid #3dcacd;
      float:right; background-color: #3d3a3a;
      position:absolute;
      left:54%;
      top:14%;
      right:2%;
      height: 75%;
      padding:5px;
    }
    </style>
    <!--- need to load the geometry library for calculating distances, see http://www.svennerberg.com/2011/04/calculating-distances-and-areas-in-google-maps-api-3/ --->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>

    <script type="text/javascript">
        function initMap() {
            var startLatlng = new google.maps.LatLng(55.966530000000000,-3.2143800000000000);
            var endLatLng = new google.maps.LatLng(55.939940000000000,-3.1918600000000000);

            var map = new google.maps.Map(document.getElementById("map_canvas"),{
                      center: {lat:55.94136542,lng:-3.18470478},
                      zoom: 12,
                      zoomControl: false,
                      streetViewControl:false,
                      styles:
                      [
                    {
                      "featureType": 'poi',
                      "stylers": [{"visibility": 'off'}]
                    },
                        {
                            "featureType": "all",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "hue": "#ff0000"
                                },
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": -30
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                }
                            ]
                        },
                        {
                            "featureType": "all",
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "color": "#353535"
                                }
                            ]
                        },
                      ]
                    });

            var startMarker = new google.maps.Marker({
                position: startLatlng,
                map: map
            });

            var endMarker = new google.maps.Marker({
                position: endLatLng,
                map: map
            });

            // draw a line between the points
            var line = new google.maps.Polyline({
                path: [startLatlng, endLatLng],
                strokeColor: "##FF0000",
                strokeOpacity: 0.5,
                strokeWeight: 4,
                geodesic: true,
                map: map
            });

            // what's the distance between these two markers?
            var distance = google.maps.geometry.spherical.computeDistanceBetween(
                startLatlng,
                endLatLng
            );

            // 200 miles in meters
            var markerDistance = 500;

            var drawMarkers = true;

            var newLatLng = startLatlng;

            // stop as soon as we've gone beyond the end point
            while (drawMarkers == true) {
                // what's the 'heading' between them?
                var heading = google.maps.geometry.spherical.computeHeading(
                    newLatLng,
                    endLatLng
                );

                // get the latlng X miles from the starting point along this heading
                 var newLatLng = google.maps.geometry.spherical.computeOffset(
                    newLatLng,
                    markerDistance,
                    heading
                );

                // draw a marker
                var newMarker = new google.maps.Marker({
                    position: newLatLng,
                    map: map
                });

                // calculate the distance between our new marker and the end marker
                var newDistance = google.maps.geometry.spherical.computeDistanceBetween(
                    newLatLng,
                    endLatLng
                );

                if (newDistance <= markerDistance) {
                    drawMarkers = false;
                }
            }
        }

        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
{% endblock %}
{% block body %}
<div class="container" >
  <div id="map_canvas"></div>
  <div class="contain">
      <h3>Track Bikes</h3>
      <table class="table table-striped table-dark">
        <tbody>
          <tr>
            <th scope="row">Select Bike</th>
          </tr>
          <tr>
            <th scope="row">Display all bikes here</th>
          </tr>
          <tr>
            <th scope="row">Replace bike</th>
          </tr>
          <tr>
            <th scope="row">Replace Bike</th>
          </tr>
          <tr>
            <th scope="row">Order bike redistrubtion</th>
          </tr>
          <tr>
            <th scope="row">About Track bikes</th>
          </tr>
          <tr>
            <th scope="row">Customer Service</th>
          </tr>
          <tr>
            <th scope="row">About Track bikes</th>
          </tr>
          <tr>
            <th scope="row">Check ups</th>
          </tr>
          <tr>
            <th scope="row">About Track bikes</th>
          </tr>
        </tbody>
      </table>
</div>
</div>
{% endblock %}
