{% extends 'base.html' %}
{% block head %}
  <title>TooTyred Bike Reservation
  </title>
{% endblock %}
{% block body %}
<div class="container">
  <form class="ExampleForm" method="post">
     {% csrf_token %}
     {{ form.as_p }}
     <input type="submit" value="Submit" />
 </form>

  <h1>Welcome</h1>
  {% for post in user %}
  <h1>{{ post.id }}</h1>
  {% endfor %}
  <button class="btn btn-default" type="button" name="button">CLICK THIS FOR NOTHING</button>
<h1>{{ name }}</h1>
<ul>
{% for number in num %}
<li>{{ number }}</li>
{% endfor %}
{% if is_false %}
{{ field1 }}
{% endif %}
</ul>
<div id="home">This is the page that appears when you click the logo or come on the page for the first time</div>
<div id="howitworks">This is the howitworks part of the page</div>
<div id="whycycle">Why cycle?</div>
<div id="cycles">All available cycles with description</div>
<div id="stationmap">Average duration to cycle between stations <br> This is the stationsmap of the page<br> Selecting a station displays information about station</div>
<div id="pricing">This is the pricing part of the page</div>
<div id="aboutus">This is the about us part of the page</div>
<div id="contact">This is the contact part of the page</div>
</div>
{% endblock %}
