{% extends 'base.html' %}
{% block head %}
  <title>TooTyred Bike Reservation
  </title>
  {% load static %}
  <link rel="stylesheet" href= "{% static 'main/style.css' %}" type="text/css">
{% endblock %}
{% block body %}
<div class="container">
  <h1>Welcome</h1>
  <button class="btn btn-default" type="button" name="button">CLICK THIS FOR NOTHING</button>
<h1>{{ name }}</h1>
<ul>
{% for number in num %}
<li>{{ number }}</li>
{% endfor %}
</ul>
<div id="home">This is the page that appears when you click the logo or come on the page for the first time</div>
<div id="howitworks">This is the howitworks part of the page</div>
<div id="stationmap">This is the stationsmap of the page</div>
<div id="pricing">This is the pricing part of the page</div>
<div id="aboutus">This is the about us part of the page</div>
<div id="contact">This is the contact part of the page</div>
</div>
{% endblock %}
