{% extends 'base.html' %}
{% load bootstrap3 %}
{% block head %}
  <title>Login page</title>
     {% bootstrap_javascript %}
     {% bootstrap_messages %}
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <h1>Log in</h1>
        <p> If you don't already have an account. <a href="/home/register/" style="color:black;">Sign up now!</a></p>
        <form  method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <p> <a href="/home/reset-password/" style="color:black;">Forgot username or password?</a></p>
          {% buttons %}
          <button type="submit" class="btn btn-success btn-block">Login</button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
