{% extends 'reserve.html' %}

{% block mapscript %}
<script>
document.getElementById('modalButton').style.display="none";
mapboxgl.accessToken = 'pk.eyJ1IjoibWFyaXVtc2FyYWgiLCJhIjoiY2pxcW01MGN1MGNxODQ4cWdyeGcxYmg4bSJ9.6FZ55yUsUcY9I6H6DC4_9Q';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/dark-v9',
  center: [-3.18470478,55.94136542],
  zoom: 12.3
});
map.doubleClickZoom.disable();
// code from the next step will go here!
var geojson = [
{% for station in stations %}
    {% if not forloop.first %},{% endif %}
    {
        station_id: "{{ station.station_id }}",
        address: "{{ station.address }}",
        capacity: "{{ station.capacity }}",
        lat: "{{ station.lat }}",
        lon: "{{ station.lon }}",
        name: "{{ station.name }}",
        numbikesavailable: "{{ station.num_bikes_available }}",
        lastreported: "{{ station.last_reported }}",
        isintalled: "{{ station.is_installed }}",
        numdocksavailable: "{{ station.num_docks_available }}",
        stationid: "{{ station.station_id }}",
        isrenting: "{{ station.is_renting }}",
        isreturning: "{{ station.is_returning }}",
        images: "{{ station.image }}"
    }
{% endfor %}
]
var x = 0
var startlocationid;
var endlocationid;
var startlocationname;
var endlocationname;
// add markers to map
geojson.forEach(function(marker) {

// create a HTML element for each feature
var el = document.createElement('div');
el.className = 'marker';
el.addEventListener('dblclick', () =>
 {
   if(x==1)
   {
    el.style.backgroundColor = "red";
    el.style.width = "25px";
     el.style.height = "25px";
     endlocationid=marker.station_id;
     endlocationname=marker.name;
     document.getElementById("modalButton").click();
   }
   else{
     el.style.backgroundColor = "green";
     el.style.width = "25px";
     el.style.height = "25px";
     startlocationid=marker.station_id;
     startlocationname=marker.name;
   }
   x=x+1;
 }
);
// make a marker for each feature and add to the map
var url_mask = "{% static 'stationpictures/12345' %}".replace(/12345/, marker.images);
new mapboxgl.Marker(el)
.setLngLat([marker.lon,marker.lat])
.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
.setHTML('<h5>' + marker.address +"</h5><img height='60' width='80' src='"+url_mask+"' />"))
.addTo(map);
});

$('#exampleModal').on('show.bs.modal', function (event) {
var modal = $(this)
modal.find('.modal-title').text('Make a reservation')
modal.find('.modal-body').find('#startloc').text("Pick up location: "+startlocationname);
modal.find('.modal-body').find('#endloc').text("Drop off location: "+ endlocationname);
});
function reset() {
window.location.reload();
}
</script>
{% endblock %}
