{% extends 'base.html' %}
{% load bootstrap3 %}
{% block head %}
<title>Register</title>
<style>form{text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}</style>
   {% bootstrap_javascript %}
   {% bootstrap_messages %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <h1>Register</h1>
            <form  method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-success btn-block">Register</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
