{% extends 'base.html' %}
{% block head %}
  <title>View Reservations</title>
{% endblock %}
{% block body %}
  <div class="container">
    <h1>Display reservations</h1>
    <p>option to remove reservations</p>
    <p>view details of reservations</p>
    <p>edit reservations</p>
    <p>provide feedback</p>
      <p>path tracker</p>
        <p>path suggestion</p>
        <p>feedback history</p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="target">Double click me</div>
  <script>
    var touchtime = 0;
$(".target").on("click", function() {
    if (touchtime == 0) {
        // set first click
        touchtime = new Date().getTime();
    } else {
        // compare first click to this click and see if they occurred within double click threshold
        if (((new Date().getTime()) - touchtime) < 800) {
            // double click occurred
            alert("double clicked");
            touchtime = 0;
        } else {
            // not a double click so set as a new first click
            touchtime = new Date().getTime();
        }
    }
});
    </script>
{% endblock %}
