{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta charset='utf-8' />
   <title>Reserve</title>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
   <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <style>
      body {
        margin: 0;
        padding-top: 70px;
        color:black;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
      .location {
        width: 40px;
        height: 40px;
        background-color: #3dcacd;
        border-radius: 45%;
        box-shadow: 0 6px 10px 0 #666;
        transition: all 0.1s ease-in-out;
        font-size: 50px;
        color: white;
        text-align: center;
        line-height: 35px;
        position: fixed;
        right: 20px;
        bottom: 20px;
      }
      .mapinfo {
        width: 100px;
        height: 35px;
        border-radius: 6px;
        background-color: #3dcacd;
        box-shadow: 0 6px 10px 0 #666;
        transition: all 0.1s ease-in-out;
        font-size: 12px;
        color:  black;
        text-align: left;
        padding-left:4px;
        position: fixed;
        left: 15px;
        bottom: 20px;
      }
      .location:hover {
        box-shadow: 0 6px 14px 0 #666;
        transform: scale(1.05);
      }

      .modal-body,.modal-header,.modal-dialog,.modal-content
      {
        background-color: #3d3a3a;
        color: #3dcacd;
        border-radius:5px;
      }
      .modal-title{
        font-size: 15px;
        font-weight:bold;
        border-bottom:2px solid;
        border-top:2px solid;
        margin-bottom:4px;
      }
      .modal-content{
        display:flex;
      }
      .column-4, .column-8 {
        float: left;
        position: relative;

      }
      .column-4 {
        width: 33%;
        border: 1px solid;
        border-radius:10px;
      }
      .column-8 {
        width: 70%;
        text-align:right;

      }
      .column-1 {
        width: 20%;
        float: left;
        position: relative;
      }
      .col1 {
        height: 80%;
        float: left;
        position: relative;
      }
      .col2 {
        height: 20%;
        float: left;
        position: relative;
      }
      .column-2 {
        width: 80%;
        float: left;
        position: relative;
      }
      .start,.end{
        border:1px solid;
        text-align:center;
        border-radius:5px;
        font-size:12px;
      }
      .start{
        border:1px solid #7CFC00;
        color:	#7CFC00;
        margin-bottom:2px;
      }
      .end{
        border:1px solid #FF0000;
        color: #FF0000;
        border-color:red;
      }
      .priority{
        font-size:10px;
      }
      .list-group-item{
        background-color: #3d3a3a;
        border-style:none!important;
        color:black;
      }
      .information
      {
        font-weight:bold;
        font-size:12px;
      }
      .styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 15px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}
.rounded {
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
}
.time{
text-align:center;
}
.bike{
  color: #3dcacd;
  text-align:left;
  font-size:12px;
}
.black   { background-color: #3dcacd; }
      a, a:active, a:visited { color: #3dcacd;}
      #myTab a, a:active, a:visited{border:1px solid #3dcacd;box-shadow: 2px 2px 1px grey;}
      #myTab a:hover {color:  #3d3a3a; background-color: #3dcacd;border:1px solid  #AFABAA;
        border-radius:3px; }
      #myTab a:focus{ color:  #3d3a3a; background-color: #3dcacd;border:1px solid  #AFABAA;
        border-radius:3px; }
        .links{ color:  #3d3a3a; background-color: #3dcacd;border:1px solid  #AFABAA;
          border-radius:3px;box-shadow: 2px 2px 1px grey;

        }
        .button-3 {border-radius: 8px; color:  #3d3a3a; background-color: #3dcacd; margin-left:2px;}
    </style>
    {% endblock %}
    {% block body %}
    <div id='map'></div>
    <button id="modalButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"></button>
    <div class="location">
      <img width="20px" height="20px" src="{% static 'icons/location.png' %}">
    </div>
    <div class="mapinfo">
      <img style="text-align=right;" src="{% static 'icons/line.png' %}">
      Trails<br>
      <img style="text-align=right;" src="{% static 'icons/dotted.png' %}">
      Bike Lanes
    </div>
    <div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header column-4">
            <button type="button" style="float:left;opacity:9; color:#3dcacd;" onclick="reset()" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span></button><br>
            <h5 class="modal-title" id="exampleModalLabel">Make a reservation</h5>
            <div>
              <div class="start" id="startloc" ></div>
              <div class="end" id="endloc"></div><br>
              <p class="information" id="info"></p>
              <p class="priority" >Select based on priority</p>
              <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                  <a onclick="resetHomeSelect()" class="nav-link active" id="home-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home1" aria-selected="true">Time</a>
                </li>
                <li class="nav-item">
                  <a onclick="resetBikeSelect()" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bike</a>
                </li>
              </ul>
            </div><br>
            <table style="width:100%;">
            <tr>
              <td style="border-bottom:1px solid;">Time</td><td style="border-bottom:1px solid;">€<span style="text-align:left;" id="cost">0</span></td></tr>
            <tr><td style="border-bottom:1px solid;">Bike</td><td style="border-bottom:1px solid;">€<span style="text-align:left;" id="cyclecost">0</span></td></tr>
            <tr><td>Total</td><td> €<span style="text-align:left;" id="totalcost">0</span></td></tr>
            </table>
          </div>
          <div class="modal-body column-8">

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="home1" role="tabpanel" aria-labelledby="home-tab">
                <ul class="list-group" >
                   <li class="list-group-item time">
                     <button onclick="resetSelect()" type="button" class="links">
                       <span >Reset</span>
                     </button>
                   </li>
                   <li class="list-group-item time">
                     <select class="styled-select black rounded" id="select_start_date">
                     <option disabled selected value>Select Start Date</option>
                   </select>
                   </li>
                   <li class="list-group-item time">
                     <select class="styled-select black rounded" id="select_end_date">
                       <option disabled selected value>Select End Date</option>
                     </select>
                   </li>
                   <li class="list-group-item time">
                     <select class="styled-select black rounded" id="select_start_time">
                       <option disabled selected value>Select Start Time</option>
                     </select>
                   </li>
                   <li class="list-group-item time">
                     <select class="styled-select black rounded" id="select_end_time">
                       <option disabled selected value>Select End Time</option>
                     </select>
                   </li>
                   <li class="list-group-item">
                     <button id="confirm" onclick="bikeSelect()" type="button" style="background-color:#3dcacd; color:black" class="btn btn-primary btn-lg">
                       <span>Next</span>
                     </button>
                   </li>
               </ul>
            </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div>
                    <ul class="list-group">
                      {% for bike in bike_type %}
                        <li class="list-group-item bike">
                          <div class="row">
                            <div class="column-1">
                              <div class="col1">
                                <img style="width:50px;height:50px;" src="{% static 'bikes/'|add:bike.bike_image %}">
                              </div>
                              <div class="col2">
                                <button class="button-3" onclick="addBike('bike{{ bike.bike_type_id }}')">+</button>
                                <button class="button-3" onclick="removeBike('bike{{ bike.bike_type_id }}')">-</button>
                              </div>
                            </div>
                            <div class="column-2">
                              Available:<span id="available{{ bike.bike_type_id }}">4</span>
                              Quantity:<span id="quantity{{ bike.bike_type_id }}">0</span><br>
                              Cost*Quantity: €<span id="quantitycost{{ bike.bike_type_id }}"></span>
                              Cost/15mins: €<span id="costperfifteen{{ bike.bike_type_id }}">{{ bike.bike_cost }}</span><br>
                              Bike Type:<span id="bike{{ bike.bike_type_id }}"> {{ bike.bike_type }}</span>
                              Bike Model:<span>{{ bike.bike_model }}</span>
                              {{ bike.bike_info }}
                            </div>
                          </div>
                      </li>
                      {% endfor %}

                      <li class="list-group-item bike">
                        <button id="confirm2" onclick="timeSelect()" type="button"  style="background-color:#3dcacd; color:black" class="btn btn-primary btn-lg">
                          <span>Next</span>
                        </button>
                      </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              </div>
        </div>
      </div>
    <!--This script tags covers the map and the opening of the dialog box-->
    <script>
    document.getElementById('modalButton').style.display="none";
    var x = 0;
    var startlocationid;
    var endlocationid;
    var startlocationname;
    var endlocationname;
    var map;
    var markerlist=[];
    var i=0;
// Initialize and add the map
function initMap() {

// The map, centered at Edinburgh
map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:55.94136542,lng:-3.18470478},
          zoom: 12,
          zoomControl: false,
          streetViewControl:false,
          styles:
          [
        {
          "featureType": 'poi',
          "stylers": [{"visibility": 'off'}]
        },
            {
                "featureType": "all",
                "elementType": "all",
                "stylers": [
                    {
                        "hue": "#ff0000"
                    },
                    {
                        "saturation": -100
                    },
                    {
                        "lightness": -30
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#ffffff"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "color": "#353535"
                    }
                ]
            },
          ]
        });
        var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);

        var allowedBounds = new google.maps.LatLngBounds(

        		new google.maps.LatLng(55.87194684844871,-3.4801332165092163),
            	new google.maps.LatLng(56.042897365961046,-2.918450843462324));
        // Define the rectangle and set its editable property to true.
        google.maps.event.addListener(map, 'dragend', function() {
            if (allowedBounds.contains(map.getCenter())) return;

            // Out of bounds - Move the map back within the bounds

            var c = map.getCenter(),
                x = c.lng(),
                y = c.lat(),
                maxX = allowedBounds.getNorthEast().lng(),
                maxY = allowedBounds.getNorthEast().lat(),
                minX = allowedBounds.getSouthWest().lng(),
                minY = allowedBounds.getSouthWest().lat();

            if (x < minX) x = minX;
            if (x > maxX) x = maxX;
            if (y < minY) y = minY;
            if (y > maxY) y = maxY;

            map.setCenter(new google.maps.LatLng(y, x));
          });
// The marker, positioned at Uluru
var geojson = [
{% for stat in station %}
    {% if not forloop.first %},{% endif %}
    {
        station_id: "{{ stat.station_id }}",
        address: "{{ stat.address }}",
        capacity: "{{ stat.rack_capacity }}",
        lat: "{{ stat.lat }}",
        lon: "{{ stat.lon }}",
        name: "{{ stat.name }}",
        numbikesavailable: "{{ stat.num_racks_available }}",
        images: "{{ stat.image }}",
        info: "{{ stat.info }}",
        is_active: "{{ stat.is_active }}",
        fine_cost: "{{ stat.fine_cost }}",
        fine_desc: "{{ stat.fine_desc }}"
    }
{% endfor %}
];
var prev_infowindow=false;
var prev_window;
// The marker, positioned at Uluru
geojson.forEach(function(marker1) {
  if(marker1.is_active==1)
  {
  var url_mask = "{% static 'stationpictures/12345' %}".replace(/12345/, marker1.images);
  var contentString = '<div id="content">'+'<h5>' + marker1.name+"<br>"+ marker1.address +"</h5><p>" + marker1.info + "</p><li>Number of docks: "+marker1.capacity+"</li><img height='60' width='80' src='"+url_mask+"' />"+'</div>';
  var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
  var Marker = new google.maps.Marker({
      map: map,
      icon: "{% static 'icons/marker.png' %}",
     position: {lat:Number(marker1.lat),lng:Number(marker1.lon)}
    });
      Marker.addListener('click', function() {
        if( prev_infowindow ) {
           prev_window.close();

        }

        prev_infowindow=true;
        prev_window = infowindow;
        infowindow.open(map, Marker);
    });
    //var touchtime = 0;
    Marker.addListener('dblclick', () =>
       {
           if(x==1)
           {
             Marker.setIcon("{% static 'icons/red.png' %}");
             endlocationid=marker1.station_id;
             endlocationname=marker1.name;
             prev_window.close();
             document.getElementById("modalButton").click();
           }
           else{
             Marker.setIcon("{% static 'icons/green.png' %}");
             startlocationid=marker1.station_id;
             startlocationname=marker1.name;
           }
           x=x+1;
       }
    );
    markerlist[i]=Marker;
    i=i+1;
  }
});
var opt = { minZoom: 11.5, maxZoom: 18 };
map.setOptions(opt);

}

     $('#exampleModal').on('show.bs.modal', function (event) {
         var modal = $(this)
         modal.find('.modal-title').text('Make a reservation')
         $('#startloc').text(startlocationname);
         $('#endloc').text(endlocationname);
     });

    document.getElementById("confirm2").style.display="none";
    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    var startTime;
    var endTime;
    var startDate;
    var endDate;
      {% for bike in bike_type %}
            var bike{{ bike.bike_type_id }} = 0;
      {% endfor %}
    var bikesselected=false;
    var timesselected=false;
    var done=0;
    function reset() {
        startlocationname = "";
        endlocationname="";
        x = 0;
        startlocationid="";
        endlocationid="";
        for(var d=0;d<markerlist.length;d++){
          markerlist[d].setIcon("{% static 'icons/marker.png' %}");
        }
        startTime="";
        endTime="";
        startDate="";
        endDate="";

        $('#info').text("");
        resetSelect();
        done=0;
        {% for bike in bike_type %}
             bike{{ bike.bike_type_id }} = 0;
          {% endfor %}
        {% for bike in bike_type %}
          for(var i=0;i<4;i++)//CHANGE TO AVAILABLE BIKES
          {
          removeBike('bike{{ bike.bike_type_id }}');
          }
        {% endfor %}
        $('#cost').text("0");
        $('#cyclecost').text("0");
        $('#totalcost').text("0");
        bikesselected=false;
        timesselected=false;
    }
    function disable(selector) {
      document.getElementById(selector).selectedIndex=0;
      document.getElementById(selector).style.color= "grey" ;
      document.getElementById(selector).disabled = true;
    }
    function enable(selector) {
          document.getElementById(selector).selectedIndex=0;
          document.getElementById(selector).style.color= "black" ;
          document.getElementById(selector).disabled = false;
    }
    function removeBike(selector) {
           var num = selector[selector.length -1];
           if($('#quantity'+num).text()>0)
            {
              var cost = {{ costperhour }}/4;
               $('#available'+num).text(Number($('#available'+num).text())+1);
                $('#quantity'+num).text(($('#quantity'+num).text())-1);
                if((Number($('#cost').text()))==0)
                {
                $('#quantitycost'+num).text(((Number($('#quantity'+num).text()))*(Number($('#costperfifteen'+num).text()))));
                $('#cyclecost').text(Number($('#cyclecost').text())-(Number($('#costperfifteen'+num).text())));
                }
                else {
                $('#quantitycost'+num).text(((Number($('#quantity'+num).text()))*((Number($('#costperfifteen'+num).text()))*((Number($('#cost').text()))/cost))));
                $('#cyclecost').text(Number($('#cyclecost').text())-(((Number($('#costperfifteen'+num).text()))*((Number($('#cost').text()))/cost))));
                }

                $('#totalcost').text(Number($('#cyclecost').text())+Number($('#cost').text()));

            }
            if(({% for bike in bike_type %}
                  (Number($('#quantity{{ bike.bike_type_id }}').text()))+
            {% endfor %}0)==0)
            {
              bikesselected=false;
                document.getElementById("confirm2").style.display="none";
            }
    }
    function addBike(selector) {
      document.getElementById("confirm2").style.display="block";
      var num = selector[selector.length -1];
      if($('#available'+num).text()>0)
       {
         var cost = {{ costperhour }}/4;
         $('#available'+num).text(($('#available'+num).text())-1);
         $('#quantity'+num).text(Number($('#quantity'+num).text())+1);
         if((Number($('#cost').text()))==0)
         {
         $('#quantitycost'+num).text(((Number($('#quantity'+num).text()))*(Number($('#costperfifteen'+num).text()))));
         $('#cyclecost').text(Number($('#cyclecost').text())+(Number($('#costperfifteen'+num).text())));
       }
       else {
         $('#quantitycost'+num).text(((Number($('#quantity'+num).text()))*((Number($('#costperfifteen'+num).text()))*((Number($('#cost').text()))/cost))));
         $('#cyclecost').text(Number($('#cyclecost').text())+(((Number($('#costperfifteen'+num).text()))*((Number($('#cost').text()))/cost))));

       }
       $('#totalcost').text(Number($('#cyclecost').text())+Number($('#cost').text()));
          }
    }
    //https://stackoverflow.com/questions/32890938/next-7-days-in-drop-down-list
    function formatDate(date) {
              var d = new Date(date),
                      day = '' + d.getDate(),
                      month = '' + (d.getMonth() + 1),
                      year = '' +d.getFullYear();
              if (day.length < 2)
                  day = '0' + day;
              return [day,monthNames[month-1],year].join(' ');
          }

    function resetSelect(){
      populateDate('#select_start_date','Select Start date',{{ reservationdays }},new Date); // use selector for your select
      disable("select_end_date");
      disable("select_end_time");
      disable("select_start_time");
       document.getElementById("confirm").style.display="none";
       $("#totalcost").text($("#totalcost").text()-(Number($("#cost").text())));
         $("#cost").text("0");
    }
    function resetHomeSelect(){
      if(timesselected==true)
      {
        {% for bike in bike_type %}
             bike{{ bike.bike_type_id }} = 0;
          {% endfor %}
          {% for bike in bike_type %}
            for(var i=0;i<4;i++)//CHANGE TO AVAILABLE BIKES
            {
              removeBike('bike{{ bike.bike_type_id }}');
            }
          {% endfor %}
          $("#totalcost").text($("#totalcost").text()-(Number($("#cyclecost").text())));
          $("#cyclecost").text("0");
      }
      else {
        populateDate('#select_start_date','Select Start date',{{ reservationdays }},new Date); // use selector for your select
        disable("select_end_date");
        disable("select_end_time");
        disable("select_start_time");
         document.getElementById("confirm").style.display="none";
         if(bikesselected==false)
         {
              {% for bike in bike_type %}
                bike{{ bike.bike_type_id }} = 0;
             {% endfor %}
             {% for bike in bike_type %}
                for(var i=0;i<4;i++)//CHANGE TO AVAILABLE BIKES
                  {
                    removeBike('bike{{ bike.bike_type_id }}');
                  }
             {% endfor %}
             $("#totalcost").text("0");
             $("#cost").text("0");
             $("#cyclecost").text("0");
         }
         else {
            $("#totalcost").text($("#totalcost").text()-(Number($("#cost").text())));
            $("#cost").text("0");
         }
      }
    }

    function resetBikeSelect(){
        if(timesselected==false)
        {
          $("#totalcost").text($("#totalcost").text()-(Number($("#cost").text())));
            $("#cost").text("0");

        }
        else
        {

          {% for bike in bike_type %}
            bike{{ bike.bike_type_id }} = 0;
          {% endfor %}
          {% for bike in bike_type %}
            for(var i=0;i<4;i++)//CHANGE TO AVAILABLE BIKES
            {
                removeBike('bike{{ bike.bike_type_id }}');
              }
          {% endfor %}
          $('#cyclecost').text("0");
        }
    }
    function timeSelect(){

      {% for bike in bike_type %}
          bike{{ bike.bike_type_id }}=Number($('#quantity{{ bike.bike_type_id }}').text());
        {% endfor %}
      var total = 0;
      {% for bike in bike_type %}
            total = total+bike{{ bike.bike_type_id }};
        {% endfor %}
      if((total)>0)
      {
        $('#info').text('Number of bikes selected:'+(
        {% for bike in bike_type %}
              bike{{ bike.bike_type_id }}+
          {% endfor %}0));
            bikesselected=true;
      }
      if(bikesselected==true && timesselected==true)
      {
        alert("Done1");
      }
      document.getElementById("home-tab").click();
    }
    function bikeSelect() {
      //select all times from all dates that are not full

      startTime=document.getElementById("select_start_time").options[document.getElementById("select_start_time").selectedIndex].value;
      endTime=document.getElementById("select_end_time").options[document.getElementById("select_end_time").selectedIndex].value;
      startDate=document.getElementById("select_start_date").options[document.getElementById("select_start_date").selectedIndex].value;
      endDate=document.getElementById("select_end_date").options[document.getElementById("select_end_date").selectedIndex].value;
      $('#info').text('Start day: '+ startDate+' '+startTime+'  End day: '+endDate+' '+endTime);
      timesselected=true;
      if(bikesselected==true && timesselected==true)
      {
        alert("Done2");
      }
      document.getElementById("profile-tab").click();
    }
    function populateDate(selector,text,days,curr)
    {
      var x;
      //book today too unless its 11
      if((curr.getMinutes()+(curr.getHours()*60))>= (1440-60-15) && selector=='#select_start_date')
      {
          x=1;
          days=days+1;
      }
      else if(selector=='#select_end_date' && curr.toDateString() == new Date().toDateString())
      {
        var dates= new Date();
        if((dates.getMinutes()+(dates.getHours()*60))< (1440-60-15)  && (dates.getMinutes()+(dates.getHours()*60))>= (1440-60-15-15))
        {x=1;}
        else{x=0;}
      }
      else {
        x=0;
      }
      var options = "";
      var first = curr.getDate();
      var firstday = (new Date(curr.setDate(first))).toString();
        $(selector).empty().append('<option disabled selected value>' +text+ '</option>');
      for (var i = x; i < days; i++) {
          var next = new Date(curr.getTime());
          next.setDate(first + i);
          $(selector).append('<option>' + formatDate((next.toString())) + '</option>');
      }
    }
    //https://stackoverflow.com/questions/8918168/javascript-dynamic-time-drop-down
    function populate(selector,text,x,y) {
      //select all times from all dates that are not full
      var select = $(selector);
      var hours, minutes, ampm;
      select.empty().append($('<option disabled selected value>'+text+'</option>'));
      for(var i = x; i <= y; i += 15){
          hours = Math.floor(i / 60);
          minutes = i % 60;
          if (minutes < 10){
              minutes = '0' + minutes; // adding leading zero
            }
          ampm = hours % 24 < 12 ? 'AM' : 'PM';
          hours = hours % 12;
          if (hours === 0){
              hours = 12;
            }
          select.append($('<option></option>')
          .attr('value', i)
          .text(hours + ':' + minutes + ' ' + ampm));
    }
    }

    $('#select_start_date').change(function() {
    var parts = $(this).val().split(' ');
    dateselected=new Date(parts[2],monthNames.indexOf(parts[1]),parts[0]);
    populateDate("#select_end_date",'Select End date',2,dateselected);
    enable("select_end_date");
    disable("select_end_time");
    disable("select_start_time");
    $("#totalcost").text($("#totalcost").text()-(Number($("#cost").text())));
    $("#cost").text("0");
    document.getElementById("confirm").style.display="none";
    });

    $('#select_end_date').change(function() {
     disable("select_end_time");
     enable("select_start_time");
     var parts = $(this).val().split(' ');
     dateselected=new Date(parts[2],monthNames.indexOf(parts[1]),parts[0]);
     var start=document.getElementById("select_start_date").options[document.getElementById("select_start_date").selectedIndex].value.split(' ');
     var st=new Date(start[2],monthNames.indexOf(start[1]),start[0]);
     var end=document.getElementById("select_end_date").options[document.getElementById("select_end_date").selectedIndex].value.split(' ');
     var en=new Date(end[2],monthNames.indexOf(end[1]),end[0]);
     if(st.toDateString() == new Date().toDateString() && en.toDateString() != new Date().toDateString())
     {
       var dates = new Date();
       if(st.getDate()==(dates.getDate()+1) && (dates.getMinutes()+(dates.getHours()*60)) >= 1380)
         populate('#select_start_time','Select Start time',(((new Date().getMinutes()) + ((15 - ((new Date().getMinutes()) % 15))) % 15))+((new Date().getHours())*60)+60-1440,1425);
       else
        populate('#select_start_time','Select Start time',(((new Date().getMinutes()) + ((15 - ((new Date().getMinutes()) % 15))) % 15))+((new Date().getHours())*60)+60,1425);
     }
     else if(st.toDateString() == new Date().toDateString() && en.toDateString() == new Date().toDateString())
     {
       var dates = new Date();
       if(st.getDate()==(dates.getDate()+1) && (dates.getMinutes()+(dates.getHours()*60)) >= 1380)
         populate('#select_start_time','Select Start time',(((new Date().getMinutes()) + ((15 - ((new Date().getMinutes()) % 15))) % 15))+((new Date().getHours())*60)+60-1440,1425);
       else
        populate('#select_start_time','Select Start time',(((new Date().getMinutes()) + ((15 - ((new Date().getMinutes()) % 15))) % 15))+((new Date().getHours())*60)+60,1410);
     }
     else {
       var dates = new Date();
       if(st.getDate()==(dates.getDate()+1) && (dates.getMinutes()+(dates.getHours()*60)) >= 1380)
         populate('#select_start_time','Select Start time',(((new Date().getMinutes()) + ((15 - ((new Date().getMinutes()) % 15))) % 15))+((new Date().getHours())*60)+60-1440,1425);
       else
        populate('#select_start_time','Select Start time',0,1425);
     }
     $("#totalcost").text($("#totalcost").text()-(Number($("#cost").text())));
       $("#cost").text("0");
     document.getElementById("confirm").style.display="none";
    });

    $('#select_start_time').change(function() {
    enable("select_end_time");
    var start=document.getElementById("select_start_date").options[document.getElementById("select_start_date").selectedIndex].value.split(' ');
    var st=new Date(start[2],monthNames.indexOf(start[1]),start[0]);
    var end=document.getElementById("select_end_date").options[document.getElementById("select_end_date").selectedIndex].value.split(' ');
    var en=new Date(end[2],monthNames.indexOf(end[1]),end[0]);
    if(st.toDateString() == en.toDateString())
    {
      populate('#select_end_time','Select End time',Number($(this).val())+15,1425);
    }
    else {
      populate('#select_end_time','Select End time',0,Number($(this).val()));
    }
    $("#totalcost").text($("#totalcost").text()-(Number($("#cost").text())));
      $("#cost").text("0");
    document.getElementById("confirm").style.display="none";
    });

    $('#select_end_time').change(function() {
    document.getElementById("confirm").style.display="block";
    var cost=0;
    var costperfifteen={{ costperhour }}/4;
    startTime=document.getElementById("select_start_time").options[document.getElementById("select_start_time").selectedIndex].value;
    endTime=document.getElementById("select_end_time").options[document.getElementById("select_end_time").selectedIndex].value;
    startDate=document.getElementById("select_start_date").options[document.getElementById("select_start_date").selectedIndex].value;
    endDate=document.getElementById("select_end_date").options[document.getElementById("select_end_date").selectedIndex].value;
    if(startDate==endDate)
    {
        for(var i = Number(startTime); i < Number(endTime); i += 15){
          cost=costperfifteen+cost;
    }
    }
    else {
      for(var i = Number(startTime); i < 1440; i += 15){
          cost=costperfifteen+cost;
        }
    for(var i = 0; i < Number(endTime); i += 15){
        cost=costperfifteen+cost;
      }
    }
    $('#cost').text(Number(cost));
    $('#totalcost').text(Number(cost)+Number($('#cyclecost').text()));
    });
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_ItPKqeOzT7ZXw3pQOAIiHRWXo63Q7Qg &callback=initMap">
  </script>
{% endblock %}
