{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="icon" href="{% static 'icon.png' %}">
  <link rel="stylesheet" href= "{% static 'css/style.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms and Conditions</title>
</head>
<body>
<div class="container">
  <h1><u>Terms and Conditions</u></h1>
  <p><h3>Introduction</h3>
These TooTyred WebApp Standard Terms and Conditions written on this webpage shall manage your use of our TooTyred WebApp, Webiste Name accessible at TooTyred WebApp.com.

These Terms will be applied fully and affect to your use of this TooTyred WebApp. By using this TooTyred WebApp, you agreed to accept all terms and conditions written in here. You must not use this TooTyred WebApp if you disagree with any of these TooTyred WebApp Standard Terms and Conditions.

Minors or people below 18 years old are not allowed to use this TooTyred WebApp.

<h2>Intellectual Property Rights</h2>
Other than the content you own, under these Terms, Company Name and/or its licensors own all the intellectual property rights and materials contained in this TooTyred WebApp.

You are granted limited license only for purposes of viewing the material contained on this TooTyred WebApp.

<h2>Restrictions</h2>
You are specifically restricted from all of the following:

publishing any TooTyred WebApp material in any other media;
selling, sublicensing and/or otherwise commercializing any TooTyred WebApp material;
publicly performing and/or showing any TooTyred WebApp material;
using this TooTyred WebApp in any way that is or may be damaging to this TooTyred WebApp;
using this TooTyred WebApp in any way that impacts user access to this TooTyred WebApp;
using this TooTyred WebApp contrary to applicable laws and regulations, or in any way may cause harm to the TooTyred WebApp, or to any person or business entity;
engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this TooTyred WebApp;
using this TooTyred WebApp to engage in any advertising or marketing.
Certain areas of this TooTyred WebApp are restricted from being access by you and Company Name may further restrict access by you to any areas of this TooTyred WebApp, at any time, in absolute discretion. Any user ID and password you may have for this TooTyred WebApp are confidential and you must maintain confidentiality as well.

<h2>Your Content</h2>
In these TooTyred WebApp Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to display on this TooTyred WebApp. By displaying Your Content, you grant Company Name a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.

Your Content must be your own and must not be invading any third-party's rights. Company Name reserves the right to remove any of Your Content from this TooTyred WebApp at any time without notice.

<h2>No warranties</h2>
This TooTyred WebApp is provided “as is,” with all faults, and Company Name express no representations or warranties, of any kind related to this TooTyred WebApp or the materials contained on this TooTyred WebApp. Also, nothing contained on this TooTyred WebApp shall be interpreted as advising you.

<h2>Limitation of liability</h2>
In no event shall Company Name, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this TooTyred WebApp whether such liability is under contract.  Company Name, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this TooTyred WebApp.

<h2>Indemnification</h2>
You hereby indemnify to the fullest extent Company Name from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.

<h2>Severability</h2>
If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.

<h2>Variation of Terms</h2>
Company Name is permitted to revise these Terms at any time as it sees fit, and by using this TooTyred WebApp you are expected to review these Terms on a regular basis.

<h2>Assignment</h2>
The Company Name is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.

<h2>Entire Agreement</h2>
These Terms constitute the entire agreement between Company Name and you in relation to your use of this TooTyred WebApp, and supersede all prior agreements and understandings.

<h2>Governing Law & Jurisdiction</h2>
These Terms will be governed by and interpreted in accordance with the laws of the State of Country, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Country for the resolution of any disputes.</p>
</div>
</body>
</html>
